Backup_2026-03-28/Matthew Notion.json
{
  "updatedAt": "2026-02-10T09:31:25.633Z",
  "createdAt": "2026-01-18T11:57:16.567Z",
  "id": "4Cot_5IpADCkKRcteUnrh",
  "name": "Matthew Notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "872637a1-a0e5-4ea5-8f13-11a17cb41373",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -32
      ],
      "id": "326bbaf4-6815-4fcb-802b-20c0855e62ef",
      "name": "Webhook",
      "webhookId": "872637a1-a0e5-4ea5-8f13-11a17cb41373"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9251765-f54c-4d12-bd90-414eeb29915d",
              "name": "NAME",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "c3ac641b-ca6d-4f83-913f-f5035a1f4add",
              "name": "EMAIL",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "6933b125-8624-433c-a08d-791fb711a916",
              "name": "TAG",
              "value": "={{ $json.body.tags }}",
              "type": "string"
            },
            {
              "id": "1ced04d3-4669-4c71-be29-c33b1872720f",
              "name": "DATE_CREATED",
              "value": "={{ $json.body.date_created }}",
              "type": "string"
            },
            {
              "id": "495ad79b-7b73-4a5c-9a51-e2b70a37873b",
              "name": "Phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "9d8af9a0-3d3e-4fbb-b847-5bbbab78111e",
              "name": "Do you currently offer laser hair removal?",
              "value": "={{ $json.body['Do you currently offer laser hair removal?'] }}",
              "type": "string"
            },
            {
              "id": "c1c57163-b2f4-409c-b5db-fa56525ca0f9",
              "name": "What’s your biggest challenge with your current hair removal treatments?",
              "value": "={{ $json.body['What’s your biggest challenge with your current hair removal treatments?'] }}",
              "type": "string"
            },
            {
              "id": "89ae5197-a275-48b7-ac51-8f19358356e5",
              "name": "When would you like to learn more or schedule a demo?",
              "value": "={{ $json.body['When would you like to learn more or schedule a demo?'] }}",
              "type": "string"
            },
            {
              "id": "82c48628-490c-468d-a124-abe44d165a60",
              "name": "What’s your main goal for upgrading your laser device?",
              "value": "={{ $json.body['What’s your main goal for upgrading your laser device?'] }}",
              "type": "string"
            },
            {
              "id": "d5e34af0-3655-417c-870a-6f4e361d00a0",
              "name": "Are You A Beauty Spa or Clinic Owner?",
              "value": "={{ $json.body['Are You A Beauty Spa or Clinic Owner?'] }}",
              "type": "string"
            },
            {
              "id": "f944f2cd-774b-41f5-a7a4-f9e40bf15e9c",
              "name": "Website Comments",
              "value": "={{ $json.body.Comment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        144
      ],
      "id": "990b1b18-92c2-44e2-9bd7-487ef50b8c7e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "mode": "list",
          "cachedResultName": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "cachedResultUrl": "https://www.notion.so/2eca61fa8d4180ef96e9cf0b49b139fd"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.NAME }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.EMAIL }}"
            },
            {
              "key": "Created|date",
              "date": "={{ $json.DATE_CREATED }}"
            },
            {
              "key": "Tag|rich_text",
              "textContent": "={{ $json.TAG }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $json.Phone }}"
            },
            {
              "key": "Do you currently offer laser hair removal?|rich_text",
              "textContent": "={{ $json['Do you currently offer laser hair removal?'] }}"
            },
            {
              "key": "What’s your biggest challenge with your current hair removal treatments?|rich_text",
              "textContent": "={{ $json['What’s your biggest challenge with your current hair removal treatments?'] }}"
            },
            {
              "key": "When would you like to learn more or schedule a demo?|rich_text",
              "textContent": "={{ $json['When would you like to learn more or schedule a demo?'] }}"
            },
            {
              "key": "What’s your main goal for upgrading your laser device?|rich_text",
              "textContent": "={{ $json['What’s your main goal for upgrading your laser device?'] }}"
            },
            {
              "key": "Are You A Beauty Spa or Clinic Owner?|rich_text",
              "textContent": "={{ $json['Are You A Beauty Spa or Clinic Owner?'] }}"
            },
            {
              "key": "Website comment|rich_text",
              "textContent": "={{ $json['Website Comments'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "55db80bc-b043-428f-b81f-744de2322f14",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }} ",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email stage|rich_text",
              "textContent": "={{ $json.body.pipleline_stage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        -48
      ],
      "id": "2a3dc242-bde7-4bec-8f15-415c18975cf3",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "mode": "list",
          "cachedResultName": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "cachedResultUrl": "https://www.notion.so/2eca61fa8d4180ef96e9cf0b49b139fd"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        48,
        224
      ],
      "id": "7e58654d-e589-4d32-9efd-054482df5f88",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        -48
      ],
      "id": "118266cd-6052-4fb2-bb71-ee2332c23f08",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "75e6bd95-0164-40e0-a1ef-8e727182a2c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        144
      ],
      "id": "30667ab3-74ca-41d3-8d59-c635a3e7b55f",
      "name": "Webhook1",
      "webhookId": "75e6bd95-0164-40e0-a1ef-8e727182a2c2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "17d7a4e9-8c46-46fa-a17c-d869fcd9e07f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        352
      ],
      "id": "8577d78f-397a-4ca2-844f-90ec318678c2",
      "name": "Webhook2",
      "webhookId": "17d7a4e9-8c46-46fa-a17c-d869fcd9e07f"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "mode": "list",
          "cachedResultName": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "cachedResultUrl": "https://www.notion.so/2eca61fa8d4180ef96e9cf0b49b139fd"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        48,
        464
      ],
      "id": "bb51ccb1-21d8-4287-af4c-2f17d88094f3",
      "name": "Get many database pages1",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        336
      ],
      "id": "766de13d-bd0d-4798-a331-b017b77749d2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }} ",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Tag|rich_text",
              "textContent": "={{ $json.body.tags }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        592,
        336
      ],
      "id": "5528eb00-3841-46d4-b870-e90d1bce6b3d",
      "name": "Update a database page1",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        []
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many database pages1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2adf6e22-3aed-4ddd-b809-5d90b8186df0",
  "activeVersionId": null,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-01-18T11:57:16.576Z",
      "createdAt": "2026-01-18T11:57:16.576Z",
      "role": "workflow:owner",
      "workflowId": "4Cot_5IpADCkKRcteUnrh",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}