Backup_2026-01-01/Ab rag agent.json
{
  "createdAt": "2025-09-09T04:34:50.296Z",
  "updatedAt": "2025-09-22T06:46:01.000Z",
  "id": "s3AcPBJNHTG3AGZk",
  "name": "Ab rag agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "11EjN3-I1T9OPKyfu2cRQY9_HiPv_Mm_nNsKk4V9sF5I",
          "mode": "list",
          "cachedResultName": "# VOICE AGENT SCRIPT - ANN ARBOUR IMMIGRATION SERVICES",
          "cachedResultUrl": "https://docs.google.com/document/d/11EjN3-I1T9OPKyfu2cRQY9_HiPv_Mm_nNsKk4V9sF5I/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        32
      ],
      "id": "6f1a5871-9647-4403-936a-8477de1036e6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uqHP3EK1AWyHQdzj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        32
      ],
      "id": "0ce691b0-840f-49c3-8db0-ff4f5391bdfc",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uqHP3EK1AWyHQdzj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n8n8",
          "mode": "list",
          "cachedResultName": "n8n8n8"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        512,
        32
      ],
      "id": "73788181-2a05-4adb-a513-c116ec5a6f38",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        224
      ],
      "id": "4616ef3b-40b9-49cc-ad9f-6b80d1ea209f",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "3821f87c-0fd2-4a2b-aebf-4b1237952726",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        336
      ],
      "id": "8be46cb8-38a6-43c2-873a-838fe998f59e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1088,
        32
      ],
      "id": "df387615-002c-4d63-900f-00d536522d6f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        896,
        32
      ],
      "id": "d32f733a-0ce2-4d51-bcfe-1115d97df7e9",
      "name": "When chat message received",
      "webhookId": "5e93270f-6ef4-4628-9548-e65fdbad8710"
    },
    {
      "parameters": {
        "model": "deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1088,
        256
      ],
      "id": "d454d1c6-d7c8-4360-9374-90daa1045504",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "KnowledgeBase",
        "toolDescription": "Call this tool to access the policy and n8ndemo database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ndemo",
          "mode": "list",
          "cachedResultName": "n8ndemo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        1168,
        240
      ],
      "id": "38df2b96-7e28-4274-ba23-dc1b17a9fc0c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wF1nzywaiJ09zEha",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        400
      ],
      "id": "9d3d5fb8-b4c7-48f1-992d-ab7bd1d25888",
      "name": "Embeddings OpenAI1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0dac094e-bc39-4a0e-a54e-0594e7b13cb9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T04:34:50.300Z",
      "updatedAt": "2025-09-09T04:34:50.300Z",
      "role": "workflow:owner",
      "workflowId": "s3AcPBJNHTG3AGZk",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}