Backup_2025-12-16/Whatsapp trigger test.json
{
  "createdAt": "2025-12-09T07:16:44.981Z",
  "updatedAt": "2025-12-13T16:45:56.000Z",
  "id": "Hl491uDb6q8PNoHQ",
  "name": "Whatsapp trigger test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "id": "9332570a-61ca-49b3-b36d-5a9353ba6052",
      "name": "WhatsApp Trigger",
      "webhookId": "ac9361bc-b48f-4aa2-b6dd-c1efd2923918",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "5T1Ugxg1YTEeKP1w",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "836492552891673",
        "recipientPhoneNumber": "923334688363",
        "textBody": "this is the reply",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        416,
        320
      ],
      "id": "a82649ea-d788-438c-b981-616316f8dbed",
      "name": "Send message",
      "webhookId": "7db7a09f-472b-408d-b0b7-c4e7902ba4b5",
      "credentials": {
        "whatsAppApi": {
          "id": "NqmkGLoL154ML1gL",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "path": "=83859e4a-9a81-488d-80f2-103ed56f2873",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        80
      ],
      "id": "293cb5a4-2278-4021-92cc-38d1271f2d1b",
      "name": "Webhook",
      "webhookId": "83859e4a-9a81-488d-80f2-103ed56f2873"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        80
      ],
      "id": "61274052-3cc7-4db2-9c00-563bcadddd5e",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15556108344",
            "phone_number_id": "836492552891673"
          },
          "contacts": [
            {
              "profile": {
                "name": "Abdul Hannan"
              },
              "wa_id": "923334688363"
            }
          ],
          "messages": [
            {
              "from": "923334688363",
              "id": "wamid.HBgMOTIzMzM0Njg4MzYzFQIAEhgWM0VCMDcyM0YwNzRBRURBQUU4NjZEOAA=",
              "timestamp": "1765390361",
              "text": {
                "body": "hi how are you"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "a6facfef-b4ed-464a-bab7-cdb34804fb69",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-12-09T07:16:44.983Z",
      "updatedAt": "2025-12-09T07:16:44.983Z",
      "role": "workflow:owner",
      "workflowId": "Hl491uDb6q8PNoHQ",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}