Backup_2025-10-10/Workflow Backup Github.json
{
  "createdAt": "2025-10-05T11:00:46.574Z",
  "updatedAt": "2025-10-10T17:08:35.000Z",
  "id": "90knPltBRaGgNfZZ",
  "name": "Workflow Backup Github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "400c349a-6694-4ebc-8cc8-4b36b30cdd05",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "210a9591-6d6e-4086-a905-0a1a09b12c74",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        352
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cb8d5db5-d471-4e99-ae84-e6e25c2804fe",
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-content",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "workflow-filename",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80b3edd5-db09-41aa-8b08-15c920cd92bb",
      "name": "Prepare File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        272
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Abdul-hannan-coder",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflow-backup",
          "cachedResultUrl": "https://github.com/Abdul-hannan-coder/n8n-workflow-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/{{ $('Prepare File Content').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }} Backup completed"
      },
      "id": "938c6a29-22ee-4cfe-933f-4f0a49c3124d",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        384,
        352
      ],
      "webhookId": "20f36eee-6bfe-4264-9490-d76d5c1ef46d",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "9V5Eot2RSzP3KMXv",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Abdul-hannan-coder/n8n-workflow-backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow-backup",
          "mode": "list",
          "cachedResultName": "n8n-workflow-backup",
          "cachedResultUrl": "https://github.com/Abdul-hannan-coder/n8n-workflow-backup"
        },
        "filePath": "={{ $('Set Variables').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Set Variables').item.json.folderName }}\n\nThis folder contains the backup of all N8N workflows as of {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n---\n*Automatically generated by N8N Backup Workflow*",
        "commitMessage": "=Add README for backup folder"
      },
      "id": "2e17d4a7-bc3d-4595-b45b-4a10fb8dc0db",
      "name": "Create README",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -64,
        80
      ],
      "webhookId": "5f0a2d4b-f990-480e-8bf7-1aea62f5fc7c",
      "credentials": {
        "githubApi": {
          "id": "9V5Eot2RSzP3KMXv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        160,
        272
      ],
      "id": "0dc558a6-3941-4ec3-aa7f-97c82ab57723",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU",
          "mode": "list",
          "cachedResultName": "n8n-backup-for-github",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yJNck8mKDFKMEJiWNuZg5WLykpQwHd0Q2aD4xGjEERU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File Name": "={{ $('Prepare File Content').item.json.fileName }}",
            "Error Message": "={{ $json.error }}",
            "Folder Name": "={{ $('Set Variables').item.json.folderName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "html_url",
              "displayName": "html_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        16
      ],
      "id": "641e2dab-ee16-4282-8e0e-633e4275c681",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        352
      ],
      "id": "203c1a0a-8de0-4c27-85ff-4775335ebda0",
      "name": "Daily Trigger1"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -512,
        352
      ],
      "id": "4465fd88-5dfd-4c9d-a137-abc401abff9b",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "LmsEcs9zLnXZQK0T",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Content": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Daily Trigger1": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f8135bd7-9578-435e-b38b-0be063cfc6f4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-05T11:00:46.577Z",
      "updatedAt": "2025-10-05T11:00:46.577Z",
      "role": "workflow:owner",
      "workflowId": "90knPltBRaGgNfZZ",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}