Backup_2025-12-04/AB Personal AI Assistant.json
{
  "createdAt": "2025-09-04T04:45:30.193Z",
  "updatedAt": "2025-11-08T09:35:05.000Z",
  "id": "dJtR7QE6nDGKeada",
  "name": "AB Personal AI Assistant",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sessionKey": "={{ $json.chatInput }}",
        "contextWindowLength": 10
      },
      "id": "fab0712e-1f94-4c2a-9143-30ca6f2767d2",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        768,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $('AI Agent1').item.json.output.replace(/&/g, \"&amp;\").replace(/>/g, \"&gt;\").replace(/</g, \"&lt;\").replace(/\"/g, \"&quot;\") }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b171836f-692d-41b0-9a51-6e411ee3a3cb",
      "name": "Correct errors",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1344,
        240
      ],
      "typeVersion": 1.1,
      "webhookId": "c8885aee-ed99-47cd-9fb4-35afead53bdf",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": "={{ [\"*\"] }}",
        "additionalFields": {
          "download": true
        }
      },
      "id": "ea481807-9c76-4153-8bc2-86575f33d419",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -480,
        -48
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.message.voice.file_id}}",
        "additionalFields": {}
      },
      "id": "4a5c218a-9c8f-47e4-a563-18d95d72b986",
      "name": "Download voice file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -32,
        224
      ],
      "typeVersion": 1.2,
      "webhookId": "4a87f355-b41a-4654-b7ec-7f5c1b7b6760",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccbce0a-7786-49c9-979a-7a285cb69f78",
              "name": "CombinedMessage",
              "type": "string",
              "value": "={{ $json.message && $json.message.text ? $json.message.text : ($json.text ? $json.text : '') }}"
            },
            {
              "id": "5b1fc9f5-1408-4099-88cc-a23725c9eddb",
              "name": "Message Type ",
              "type": "string",
              "value": "={{ $json?.message?.text && !$json?.text ? \"text query\" : (!$json?.message?.text && $json?.text ? \"voice message\" : \"unknown type message\") }}"
            },
            {
              "id": "1e9a17fa-ec5d-49dc-9ff6-1f28b57fb02e",
              "name": "Source Type",
              "type": "string",
              "value": "={{ $('Listen for incoming events').item.json.message.forward_origin ? \" forwarded\" : \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b016d24-6910-4757-bf11-a8eeeffa5c8d",
      "name": "Combine content and set properties",
      "type": "n8n-nodes-base.set",
      "position": [
        416,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }} \n\nThank you for your{{ $('Combine content and set properties').item.json['Source Type'] }} {{ $('Combine content and set properties').item.json['Message Type '] }} 🤗",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "519d2ad9-cc25-44e3-a8f9-0a7ebb4f89f9",
      "name": "Send final reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1088,
        224
      ],
      "typeVersion": 1.1,
      "webhookId": "5989fbd5-624a-40ff-a7c7-1b08c50ffc6a",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "=Sorry, {{ $('Listen for incoming events').first().json.message.from.first_name }}! This command is not supported yet. Please send text or voice messages.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b46c9dcd-2216-4057-af98-aaf3729f0c24",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -32,
        -80
      ],
      "typeVersion": 1.2,
      "webhookId": "b38e105c-79d1-4f63-83fd-2478514e5d99",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "",
          "temperature": 0.7
        }
      },
      "id": "b57cd441-3f4f-4da3-95f2-66508c429039",
      "name": "Convert audio to text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        192,
        224
      ],
      "typeVersion": 1.5,
      "credentials": {
        "openAiApi": {
          "id": "8ZVcTVhxA5p7wXCn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "5dab46f0-cdd5-4438-90b0-3e73845297ec",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -256,
        -144
      ],
      "typeVersion": 1.2,
      "webhookId": "f8068f2e-f85a-4a2e-a0a1-86fd97017c32",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/",
                    "id": "345be071-0e77-4a22-872d-1e85b1b6b6a7"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dd41bbf0-bee0-450b-9160-b769821a4abc",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice}}",
                    "rightValue": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a3b83eed-ce8e-4fe8-b6fb-af3357df4585",
      "name": "Determine content type",
      "type": "n8n-nodes-base.switch",
      "position": [
        -256,
        64
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "c29c6393-d96e-4920-a028-97db4e8541d9",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        624,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "8ZVcTVhxA5p7wXCn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find contact emails",
        "documentId": {
          "__rl": true,
          "value": "1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        112,
        704
      ],
      "id": "aa2bdd2e-e068-4779-82b5-771b55a2d6b0",
      "name": "Search Contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U89aUYJrJ0Gzczvl",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EK5iBDwgxERCGqK-d23m3Xb7UKcgXrnZOHgIG4QKvE8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        224,
        704
      ],
      "id": "2ad22d53-fae0-412a-8cdb-02127e46ac00",
      "name": "Add or Update Contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U89aUYJrJ0Gzczvl",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contact Tools \n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        640
      ],
      "id": "56a8e0fe-f39c-46f6-bdd1-376aa0f524b8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Calendar Tools \n",
        "height": 240,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        640
      ],
      "id": "24d95b8a-74d5-4abf-913f-6327e27bca6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "abdulrehmansultan581@gmail.com",
          "mode": "list",
          "cachedResultName": "abdulrehmansultan581@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        720
      ],
      "id": "0b5a5cbd-2599-496b-8647-d96ec24c94b0",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3RZoKsAuHMjntik1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "abdulrehmansultan581@gmail.com",
          "mode": "list",
          "cachedResultName": "abdulrehmansultan581@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        720
      ],
      "id": "e6bc11fb-4036-4375-ba58-d4c70f03cab2",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3RZoKsAuHMjntik1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "abdulrehmansultan581@gmail.com",
          "mode": "list",
          "cachedResultName": "abdulrehmansultan581@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        720
      ],
      "id": "313dae94-f29b-4c30-820b-1cbd602e71a0",
      "name": "Get Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3RZoKsAuHMjntik1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "abdulrehmansultan581@gmail.com",
          "mode": "list",
          "cachedResultName": "abdulrehmansultan581@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        816,
        720
      ],
      "id": "02c8195a-135b-4473-818e-df91ae4237ee",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3RZoKsAuHMjntik1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "abdulrehmansultan581@gmail.com",
          "mode": "list",
          "cachedResultName": "abdulrehmansultan581@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        928,
        720
      ],
      "id": "c52873c6-8c57-47ab-bfe3-6b44e8d55cf6",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3RZoKsAuHMjntik1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Email Tools \n",
        "height": 240,
        "width": 740,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        640
      ],
      "id": "a98d5c8f-d1ce-4dec-a950-5b03a910d537",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        720
      ],
      "id": "8b6d5c10-31f2-4e8b-b353-e2f45201f0d5",
      "name": "Send Email",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYGeeTg2wjO3ewL2",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1248,
        720
      ],
      "id": "8a091be9-f5bc-487a-bd75-c38b8655fee0",
      "name": "Email Reply",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "uExkq5hgLiMc9Yl6",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1376,
        720
      ],
      "id": "b53c65f8-279c-495f-b276-198f402f026c",
      "name": "Get Email",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYGeeTg2wjO3ewL2",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1488,
        720
      ],
      "id": "f7b156f8-bc6d-4425-b205-78175fb1e7ea",
      "name": "Add Label",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYGeeTg2wjO3ewL2",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "get",
        "labelId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1616,
        720
      ],
      "id": "d846522f-faba-463d-a82f-1c37dc170885",
      "name": "Get Label",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYGeeTg2wjO3ewL2",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        720
      ],
      "id": "a3048840-5150-46a5-b3b7-84269aeeefad",
      "name": "List Labels",
      "webhookId": "a8d7deeb-97af-4bf2-909c-8e95d330624b",
      "credentials": {
        "gmailOAuth2": {
          "id": "XYGeeTg2wjO3ewL2",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.CombinedMessage }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nIMPORTANT\n- ALWAYS find the contact's email address using the Emails from the google sheets tool attached"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        688,
        224
      ],
      "id": "4a4dfdf4-e11b-469c-9311-97344d8887c8",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Send final reply": {
      "main": [
        [],
        [
          {
            "node": "Correct errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice file": {
      "main": [
        [
          {
            "node": "Convert audio to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert audio to text": {
      "main": [
        [
          {
            "node": "Combine content and set properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine content type": {
      "main": [
        [
          {
            "node": "Combine content and set properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download voice file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Determine content type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine content and set properties": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send final reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d33a727f-54f0-4689-ac86-c557b672de28",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-09-04T04:45:30.195Z",
      "updatedAt": "2025-09-04T04:45:30.195Z",
      "role": "workflow:owner",
      "workflowId": "dJtR7QE6nDGKeada",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}