Backup_2026-01-11/Invoices.json
{
  "createdAt": "2025-09-24T06:31:49.372Z",
  "updatedAt": "2025-09-30T09:58:47.000Z",
  "id": "Bz8ppXEj5s0vrfEd",
  "name": "Invoices",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1wJ2hlCCav8rNZD3rrawoVbfiH9mhjPyi",
          "mode": "list",
          "cachedResultName": "Invoice  ABCtech solutions",
          "cachedResultUrl": "https://drive.google.com/file/d/1wJ2hlCCav8rNZD3rrawoVbfiH9mhjPyi/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -16
      ],
      "id": "e4ae47f9-a588-4e3d-88fc-948a3c320028",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uqHP3EK1AWyHQdzj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "cd8e1b1b-fed5-43b5-9b1b-611c43ebea20",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -16
      ],
      "id": "994d16fb-f36f-45d5-ac6f-05f20e4106ee",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uqHP3EK1AWyHQdzj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Client Name",
              "description": "The name of the Client"
            },
            {
              "name": "Client Address",
              "description": "The address of the client"
            },
            {
              "name": "Client Phone",
              "description": "The phone number of the client"
            },
            {
              "name": "Client Email",
              "description": "The email of the client"
            },
            {
              "name": "Business name",
              "description": "Name of the business name"
            },
            {
              "name": "Invoice number",
              "description": "The number of the Invoice"
            },
            {
              "name": "Due date ",
              "description": "The Due date of the Invoice number"
            },
            {
              "name": "Total amount",
              "description": "The invoice total amount"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -160,
        -16
      ],
      "id": "9ef3c1a4-7589-44b7-a99b-936038200baa",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        144
      ],
      "id": "3575b68d-7c41-492b-b991-d229fa621918",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8ZVcTVhxA5p7wXCn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G12mMj630kHvan83wsqMHuZMmZ5dZkW3Dxi4sIDsSbs",
          "mode": "list",
          "cachedResultName": "invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G12mMj630kHvan83wsqMHuZMmZ5dZkW3Dxi4sIDsSbs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G12mMj630kHvan83wsqMHuZMmZ5dZkW3Dxi4sIDsSbs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Total amount": "={{ $json.output['Total amount'] }}",
            "Due date": "={{ $json.output['Due date '] }}",
            "Invoice number": "={{ $json.output['Invoice number'] }}",
            "Business name": "={{ $json.output['Business name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business name",
              "displayName": "Business name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice number",
              "displayName": "Invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due date",
              "displayName": "Due date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total amount",
              "displayName": "Total amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -16
      ],
      "id": "fee17f27-789e-4aed-be84-5847b2852ec5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U89aUYJrJ0Gzczvl",
          "name": "Google Sheets account 6"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-09-26T06:05:50Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "defe5740-1854-4faa-92db-4ea437efc02e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-24T06:31:49.376Z",
      "updatedAt": "2025-09-24T06:31:49.376Z",
      "role": "workflow:owner",
      "workflowId": "Bz8ppXEj5s0vrfEd",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}