Backup_2026-01-11/Telegram Image Generation Bot.json
{
  "createdAt": "2025-09-21T14:35:23.267Z",
  "updatedAt": "2025-11-04T11:19:11.000Z",
  "id": "QemtajoT94TAM4rN",
  "name": "Telegram Image Generation Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "7eb53617-a5c4-447c-aecc-da95760ef7be",
      "name": "Telegram Trigger",
      "webhookId": "433e53a0-d6d5-4a76-a07d-a949e2a4b20c",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').first().json.message\n\nif (msg.photo) {\n  // Image exists → use kontext model\n  return [\n    {\n      json: {\n        type: \"image\",\n        caption: msg.caption || \"\",\n        file_id: msg.photo[msg.photo.length - 1].file_id // get highest resolution\n      }\n    }\n  ];\n} else {\n  // Text only → use nanobanana model\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: msg.text\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "b7c87ca4-26f3-486a-9529-711317716aa9",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d018917e-8b14-4466-94ee-37bb1e2c9f5b",
              "name": "prompt",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -128
      ],
      "id": "d54591c1-52ca-47cf-921a-973f8a9ae0c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI prompt engineer specialized in generating ultra-realistic, visually stunning image prompts. Your job is to take the user's input and rewrite it into a detailed, vivid, cinematic prompt optimized for photorealistic AI image generation. \\n\\nRules:\\n- Expand vague ideas into rich visual descriptions with realistic detail.\\n- Emphasize lighting, environment, mood, perspective, and camera details.\\n- Prioritize realism and accuracy, making the result look as close to reality as possible.\\n- Remove unnecessary words, symbols, or formatting.\\n- Return ONLY the polished prompt text, no explanations, no extra output.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -128
      ],
      "id": "83a38963-fb4e-4d78-8d7a-b7c9ef2bc5e8",
      "name": "writing with ai"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.encodedPrompt }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "seedream"
            },
            {
              "name": "width",
              "value": "1024"
            },
            {
              "name": "height",
              "value": "1024"
            },
            {
              "name": "nologo",
              "value": "true"
            },
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -128
      ],
      "id": "3d75e305-d875-4ca9-8c06-0ddeac2a226e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    encodedPrompt: encodeURIComponent($input.first().json.choices[0].message.content)\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -128
      ],
      "id": "a2eeb2a8-4b3d-4509-8ab0-af05137d14d6",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        -128
      ],
      "id": "e0a8c4cc-f35d-47f9-8eaf-370a711b5bfa",
      "name": "Send a photo message",
      "webhookId": "7ecae8be-fdac-4a38-8eda-ac6f3fea1c63",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d018917e-8b14-4466-94ee-37bb1e2c9f5b",
              "name": "prompt",
              "value": "={{ $json.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        64
      ],
      "id": "a437b223-4cf1-443f-a8f4-c3def4f1ac11",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI prompt engineer. The user will provide an instruction that should be applied to a reference image. Your job is to rewrite their instruction into a clear, powerful, image-to-image prompt.\\n\\nRules:\\n- Always make the prompt point to the fact that it should be applied to the reference image.\\n- Expand vague instructions into detailed descriptions, but keep them relevant to the image editing context.\\n- Do not invent unrelated elements; stay aligned with the user’s intent.\\n- Keep the output natural and descriptive — no extra explanations, no meta text.\\n- Return ONLY the polished prompt text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        64
      ],
      "id": "a64f7b04-f913-41a3-9444-571864b0660d",
      "name": "writing with ai1"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $('Code2').item.json.encodedPrompt }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('Code2').item.json.model }}"
            },
            {
              "name": "width",
              "value": "={{ $('Code2').item.json.width }}"
            },
            {
              "name": "height",
              "value": "={{ $('Code2').item.json.height }}"
            },
            {
              "name": "nologo",
              "value": "={{ $('Code2').item.json.nologo }}"
            },
            {
              "name": "image",
              "value": "={{ $json.file_url }}"
            },
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        64
      ],
      "id": "79580970-0707-4468-baac-aff7cb2716cd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Get input\nconst input = $input.first().json;\n\n// Build values\nconst prompt = input.choices?.[0]?.message?.content || \"default prompt\";\nconst imageUrl = input.file_url || null; // if you're adding Telegram file_url before\nconst model = \"kontext\";\nconst width = 1024;\nconst height = 1024;\nconst nologo = true;\n\n// Return everything you’ll need\nreturn {\n  json: {\n    encodedPrompt: encodeURIComponent(prompt),\n    rawPrompt: prompt,\n    model,\n    width,\n    height,\n    nologo,\n    image: imageUrl ? encodeURIComponent(imageUrl) : null\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        64
      ],
      "id": "fc726b17-0f8b-4db3-8286-cb423172e4aa",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        64
      ],
      "id": "6dedb54d-53ac-4c3b-8dd9-bd166512ebfe",
      "name": "Send a photo message1",
      "webhookId": "7ecae8be-fdac-4a38-8eda-ac6f3fea1c63",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "download": false
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        64
      ],
      "id": "cd614d0f-2c16-4bed-b154-db066de20eaa",
      "name": "Get a file",
      "webhookId": "3d7f3da4-9080-4c18-93e1-24400f77926f",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Replace with your bot token\nconst token = \"8375753655:AAFS8W07O-dfWMntLBXjZZsSxmi03p01uNg\";\n\n// Input: Telegram getFile response JSON\n// Example: { ok: true, result: { file_path: \"photos/file_0.jpg\" } }\nconst filePath = $input.first().json.result.file_path;\n\nreturn {\n  json: {\n    file_url: `https://api.telegram.org/file/bot${token}/${filePath}`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        64
      ],
      "id": "bc5d0e22-ce53-44fb-a97f-5c79f1bbc814",
      "name": "Code3"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔄 Processing your request, you’ll get your image soon.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -32
      ],
      "id": "9ec9deee-0f5f-48bc-a40b-77d88a7785e7",
      "name": "Send a text message",
      "webhookId": "6949bcf7-628c-4ff7-9678-3c204b7e7283",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d62be3-c213-4a4b-a6fe-a6ef5ce9ec60",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -128
      ],
      "id": "f2066aee-f301-44e2-a6e2-9451cc4ac24c",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Welcome to my Image Generation Bot",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -224
      ],
      "id": "27eff608-754e-460f-b9c2-0a38a15f8f7c",
      "name": "Send a text message1",
      "webhookId": "6949bcf7-628c-4ff7-9678-3c204b7e7283",
      "credentials": {
        "telegramApi": {
          "id": "rn5BoOcMjUX3fihI",
          "name": "AH-Telegram-Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5194f540-0f0e-485a-ac91-ebafcd185bcf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -32
      ],
      "id": "a547c327-fabd-436b-9898-c39eca83ac74",
      "name": "If1"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "writing with ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing with ai": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "writing with ai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing with ai1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "33c7aeda-5e1f-4ebe-81bf-ebf36be0d6b4",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-21T14:35:23.269Z",
      "updatedAt": "2025-09-21T14:35:23.269Z",
      "role": "workflow:owner",
      "workflowId": "QemtajoT94TAM4rN",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}