Backup_2026-01-13/Post Generation flow - LinkedIn.json
{
  "updatedAt": "2026-01-12T21:25:37.579Z",
  "createdAt": "2026-01-12T15:15:36.145Z",
  "id": "LOALMo3B0JOZIefm",
  "name": "Post Generation flow - LinkedIn",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "78789731-21af-4e89-b12a-5b4f316cd5c1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2256,
        -512
      ],
      "webhookId": "sample-webhook-id"
    },
    {
      "parameters": {
        "tableId": "generated_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content"
            }
          ]
        }
      },
      "id": "7bc85023-389e-4dad-b4fc-677a7ad82ea0",
      "name": "Supabase - Insert Draft",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1632,
        -512
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generated_posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase - Insert Draft').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content",
              "fieldValue": "={{ $json['Post Content '] }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json['Platform '] }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.Hook }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.CTA }}"
            },
            {
              "fieldId": "image_prompt",
              "fieldValue": "={{ $json['image Prompt'] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json['Image Url'] }}"
            },
            {
              "fieldId": "full_post",
              "fieldValue": "={{ $json.Post }}"
            },
            {
              "fieldId": "post_type",
              "fieldValue": "={{ $json['Post Type'] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Created"
            }
          ]
        }
      },
      "id": "159064b8-e291-4e31-a118-a79e394b5878",
      "name": "Supabase - Update Final",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -512
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "800c4929-3a45-4d6d-8b8c-4d430692e2f1",
              "name": "post_content",
              "value": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
              "type": "string"
            },
            {
              "id": "fe1445e5-f9c6-4d27-9833-fcd53693dfd7",
              "name": "platform",
              "value": "linkedin",
              "type": "string"
            },
            {
              "id": "75b4a77c-0f84-4672-b59a-dd5f2711a801",
              "name": "post_type",
              "value": "normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        -512
      ],
      "id": "0004add2-d56b-45a0-9267-2d6a76ab9bea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"CTA\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -920,
        -288
      ],
      "id": "51511c45-da3e-49a8-af7b-58d5758d0289",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{hook}}\nContent: {{ $('Edit Fields').item.json.post_content }}\n\nGenerate an effective CTA.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a conversion copywriter. Create compelling calls-to-action that drive engagement and conversions.\n\nCTA Types by Platform:\n- LinkedIn: \"What's your take?\", \"Agree or disagree?\", \"Share your experience\"\n- X/Twitter: \"RT if you agree\", \"Reply with your thoughts\"\n\nCTA Types by Post Type:\n- Lead magnet: \"DM me 'GUIDE' for the free resource\", \"Comment 'SEND' below\"\n- Normal: \"What do you think?\", \"Share your story\"\n\nOutput only the CTA text, no explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -512
      ],
      "id": "955235bc-223f-4f83-9397-11c7533ecd21",
      "name": "CTA Generation"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"Hook\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1272,
        -288
      ],
      "id": "247198d7-2677-40de-ac49-6b61046ab1e0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nContent: {{ $('Edit Fields').item.json.post_content }}\n\nGenerate a compelling hook.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n\n```\nYou are a social media hook expert. Generate punchy, attention-grabbing hooks for social media posts.\n\nRules:\n- LinkedIn: Professional, thought-provoking, 1-2 sentences max\n- X/Twitter: Controversial or intriguing, under 100 characters\n- Lead magnet posts: Focus on value proposition\n- Normal posts: Focus on engagement and relatability\n\nOutput only the hook text, no explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1408,
        -512
      ],
      "id": "b252494e-ec68-4ccd-8e0c-5a3b2172b20b",
      "name": "Hook Generator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $json.hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $json.CTA }}\n\nCreate the final structured post.",
        "options": {
          "systemMessage": "=You are a social media content strategist. Combine hook, content, and CTA into a well-structured final post.\n\nStructure Guidelines:\n- LinkedIn: Hook → Content (2-3 short paragraphs) → CTA\n- X/Twitter: Hook → Content (thread format if needed) → CTA\n- Use line breaks for readability\n- Add relevant emojis sparingly\n- Keep professional tone for LinkedIn, casual for X\n\nOutput only the final post text, properly formatted."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -704,
        -512
      ],
      "id": "762df150-be7a-49db-ab21-f422a751d52e",
      "name": "Post Generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -512
      ],
      "id": "f572c338-87c9-49d7-b414-e3c6c919466d",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "3206b190-91f6-40e9-ad6c-1a75d04b120c",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        224,
        -512
      ],
      "webhookId": "18002bae-7f59-43f6-a48f-96e58d0176d3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -512
      ],
      "id": "84a74012-6980-4ed6-ac8e-c0a3e0b59484",
      "name": "Fetch Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $('CTA Generation').item.json.output.CTA }}\nFull Post:{{ $json.output }}\n\nGenerate a detailed image prompt that visually represents this content. and give output in structured output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a visual content creator. Generate detailed image prompts for AI image generation that complement social media posts.\n\nStyle Guidelines:\n- Professional, clean, modern aesthetic\n- Relevant to the post topic\n- Suitable for social media (square/vertical format)\n- Include specific details: colors, composition, style\n- Avoid text in images (AI-generated text often looks poor)\n\nOutput format: \n{\"prompt\":\"This is prompt\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -352,
        -512
      ],
      "id": "46063f2f-f7cb-41fd-8f8f-1241514af575",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"prompt\":\"This is prompt\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -216,
        -288
      ],
      "id": "35c07df5-f20b-4f2a-9306-68cbf185ad73",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a64cfe4-4eb2-4f94-bfb5-fc82772c4d12",
              "name": "Link",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -512
      ],
      "id": "84e1503c-bea9-4bb4-a02b-2ff145b1c1ef",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1048,
        -288
      ],
      "id": "1596c79b-eb3c-4346-b594-e118c7331825",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -632,
        -288
      ],
      "id": "3379d94a-b9d6-46cb-9880-e59e1b2aba3e",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -344,
        -288
      ],
      "id": "661e2342-0d4b-4414-a506-20a6854d0b40",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -512
      ],
      "id": "2f2de7ec-3639-4261-b8e7-b0d2364c84ee",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d404f6bf-0ace-4b4c-a068-3bcfe4561e60",
              "name": "Post Content ",
              "value": "={{ $('Edit Fields').item.json.post_content }}",
              "type": "string"
            },
            {
              "id": "6d7d0264-253d-4f15-b0f1-13dd881321de",
              "name": "Platform ",
              "value": "={{ $('Edit Fields').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "5e9270d5-ab8b-4ea3-80f2-4cd8edeb9dcc",
              "name": "Post Type",
              "value": "={{ $('Edit Fields').item.json.post_type }}",
              "type": "string"
            },
            {
              "id": "82dc4769-d41e-4699-92c2-7869dedc45ee",
              "name": "Hook",
              "value": "={{ $('Hook Generator1').item.json.output.Hook }}",
              "type": "string"
            },
            {
              "id": "ccce207b-620f-4ce5-8d76-12b524e058a9",
              "name": "CTA",
              "value": "={{ $('CTA Generation').item.json.output.CTA }}",
              "type": "string"
            },
            {
              "id": "46b582f7-86a9-40f8-ad05-0623d9fb8157",
              "name": "Post",
              "value": "={{ $('Post Generation').item.json.output }}",
              "type": "string"
            },
            {
              "id": "3365f865-f892-4d81-9ded-92fe30f6443b",
              "name": "image Prompt",
              "value": "={{ $('AI Agent').item.json.output.prompt }}",
              "type": "string"
            },
            {
              "id": "ea0182c8-89e5-4b79-b803-caa94f9cf3f8",
              "name": "Image Url",
              "value": "={{ $('Edit Fields2').item.json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -512
      ],
      "id": "252b259f-10ef-4f17-82ae-e9a92633f384",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1424,
        -288
      ],
      "id": "40e3506f-1048-40a7-af53-f0b1d1a85333",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Draft": {
      "main": [
        [
          {
            "node": "Hook Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Final": {
      "main": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase - Insert Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CTA Generation": {
      "main": [
        [
          {
            "node": "Post Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hook Generator1": {
      "main": [
        [
          {
            "node": "CTA Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Generation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase - Update Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "post_content": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
          "platform": "linkedin",
          "post_type": "normal"
        }
      }
    ]
  },
  "versionId": "9b58ba35-b67a-42c1-901e-242a23786991",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-12T15:15:36.151Z",
      "createdAt": "2026-01-12T15:15:36.151Z",
      "role": "workflow:owner",
      "workflowId": "LOALMo3B0JOZIefm",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}