Backup_2026-01-13/Post Generation flow - X.json
{
  "updatedAt": "2026-01-12T21:53:35.123Z",
  "createdAt": "2026-01-12T18:58:55.523Z",
  "id": "gMTBEwF00XASQl4t",
  "name": "Post Generation flow - X",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "03d691e7-2dd9-4005-bd74-b5a70737c662",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "sample-webhook-id"
    },
    {
      "parameters": {
        "tableId": "generated_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content"
            }
          ]
        }
      },
      "id": "33c4331f-6cac-4615-8084-d8a71b1502ea",
      "name": "Supabase - Insert Draft",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generated_posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "is",
              "keyValue": "={{ $('Supabase - Insert Draft').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content",
              "fieldValue": "={{ $json['Post Content '] }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json['Platform '] }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.Hook }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.CTA }}"
            },
            {
              "fieldId": "image_prompt",
              "fieldValue": "={{ $json['image Prompt'] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json['Image Url'] }}"
            },
            {
              "fieldId": "full_post",
              "fieldValue": "={{ $json.Post }}"
            },
            {
              "fieldId": "post_type",
              "fieldValue": "={{ $json['Post Type'] }}"
            }
          ]
        }
      },
      "id": "c1025d7b-0e79-4311-a087-db6353eeaeec",
      "name": "Supabase - Update Final",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3584,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "800c4929-3a45-4d6d-8b8c-4d430692e2f1",
              "name": "post_content",
              "value": "AI is moving too fast for traditional education to keep up. University degrees in CS will be obsolete by 2030. Here is the new roadmap for self-taught engineers.",
              "type": "string"
            },
            {
              "id": "fe1445e5-f9c6-4d27-9833-fcd53693dfd7",
              "name": "platform",
              "value": "X",
              "type": "string"
            },
            {
              "id": "75b4a77c-0f84-4672-b59a-dd5f2711a801",
              "name": "post_type",
              "value": "leadmagnet",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "fc61ebfe-c10a-4b34-b1a3-8f51ca3ac5c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"CTA\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1328,
        224
      ],
      "id": "873f593f-2ade-487d-b144-0091fad393d5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $json.output.Hook }}\nContext: {{ $('Edit Fields').item.json.post_content }}\n\nGenerate the single most effective CTA for this post.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a conversion copywriter for Twitter/X.\n\nLOGIC FOR CTA:\nIF post_type is \"leadmagnet\":\n- The goal is to get comments to send a DM.\n- Style: \"Comment 'SEND' and I'll DM you the link.\" or \"Reply 'GO' for the free guide.\"\n\nIF post_type is \"normal\":\n- The goal is follower growth or engagement.\n- Style: \"Follow @[Handle] for more insights on [Topic].\" or \"What's your take on this?\"\n\nOutput ONLY the CTA text. No quotes, no explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1200,
        0
      ],
      "id": "a64fe40e-e164-43de-94a0-d38dfe161630",
      "name": "CTA Generation"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"Hook\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        224
      ],
      "id": "086db9f7-34a4-43b9-b2d3-22c01493ccd8",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context: {{ $json.post_content }}\nPost Type: {{ $json.post_type }}\n\nGenerate 3 variations of a scroll-stopping hook based on the context above. \nSelect the absolute best one and output ONLY that single hook.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a viral Twitter/X ghostwriter. Your goal is to stop the scroll.\n\nRULES:\n1. Length: STRICTLY under 140 characters.\n2. Tone: Punchy, controversial, or high-value.\n3. Formatting: No hashtags, no emojis, just raw text.\n4. Style: Use patterns like \"Stop doing X,\" \"How I Y,\" or direct statements.\n\nInput Context:\n- Platform: X\n- Post Type: {{ $json.post_type }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        848,
        0
      ],
      "id": "cceac9c3-72aa-4343-a6d3-306d21747ac7",
      "name": "Hook Generator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nCTA: {{ $json.output.CTA }}\nCore Context: {{ $('Edit Fields').item.json.post_content }}\n\nConstruct the final X post (or thread) following the formatting rules exactly.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert Twitter Thread writer. You structure content for maximum readability.\n\nCRITICAL FORMATTING RULES:\n\nIF post_type = \"normal\":\n- Output a SINGLE tweet structure.\n- Format: [Hook] \\n\\n [One punchy supporting sentence/insight] \\n\\n [CTA]\n- Do not number it.\n\nIF post_type = \"leadmagnet\":\n- Output a THREAD (5-10 tweets).\n- Format:\n  1/ [Hook]\n  2/ [Key Insight 1]\n  ...\n  9/ [Summary/breakdown]\n  10/ [CTA]\n- Each tweet must be separated by newlines.\n- Ensure the flow is educational and high-value.\n\nRefuse to output anything other than the raw post text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1552,
        0
      ],
      "id": "f05bf306-d367-4010-b794-9d3f982a90d4",
      "name": "Post Generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        0
      ],
      "id": "cb5671b9-dd3b-4a5d-b938-ef4f6e320d7b",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "c8aaa9ae-a4a7-4f23-aa56-5903643de576",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2480,
        0
      ],
      "webhookId": "18002bae-7f59-43f6-a48f-96e58d0176d3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        0
      ],
      "id": "46f1e33d-d14f-4eaf-b63e-41ecdc3c3c5a",
      "name": "Fetch Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context of post: {{ $json.output['Full Post'] }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\n\nWrite a prompt to generate a scroll-stopping visual for this post. \nFocus on metaphor: If the post is about \"growth\", describe a rising chart or a blooming plant in vector style. If it's about \"focus\", describe a target or lens.\n\nKeep the prompt under 50 words.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Art Director specializing in \"Notion-style\" or \"Minimalist Vector\" art for social media.\nYou write prompts for an image generator (NanoBanana).\n\nVISUAL STYLE GUIDE:\n- Clean, minimalist, flat design.\n- High contrast colors (Black/White with 1 accent color like Orange or Blue).\n- No realistic photos. Use vector illustrations or abstract data visualizations.\n- NO TEXT inside the image.\n\nOutput ONLY the prompt text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1904,
        0
      ],
      "id": "8ed1e9e2-1dfd-493c-b3a4-07901417f8cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"prompt\":\"This is prompt\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2032,
        224
      ],
      "id": "0de66355-07ea-48a2-8443-64503ac5cb69",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a64cfe4-4eb2-4f94-bfb5-fc82772c4d12",
              "name": "Link",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        0
      ],
      "id": "4fee44b5-5794-4a27-8055-0adad507a702",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        224
      ],
      "id": "b122e3ba-450c-43d0-aec9-caa59545ec05",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1616,
        224
      ],
      "id": "3cda744b-623a-4f5c-89da-7397ba9358b3",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1904,
        224
      ],
      "id": "efe62d79-e180-4d75-a24e-770600e23840",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3152,
        0
      ],
      "id": "17c2c7f4-c7bf-45a6-b7c0-15967f9cac98",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d404f6bf-0ace-4b4c-a068-3bcfe4561e60",
              "name": "Post Content ",
              "value": "={{ $('Edit Fields').item.json.post_content }}",
              "type": "string"
            },
            {
              "id": "6d7d0264-253d-4f15-b0f1-13dd881321de",
              "name": "Platform ",
              "value": "={{ $('Edit Fields').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "5e9270d5-ab8b-4ea3-80f2-4cd8edeb9dcc",
              "name": "Post Type",
              "value": "={{ $('Edit Fields').item.json.post_type }}",
              "type": "string"
            },
            {
              "id": "82dc4769-d41e-4699-92c2-7869dedc45ee",
              "name": "Hook",
              "value": "={{ $('Hook Generator1').item.json.output.Hook }}",
              "type": "string"
            },
            {
              "id": "ccce207b-620f-4ce5-8d76-12b524e058a9",
              "name": "CTA",
              "value": "={{ $('CTA Generation').item.json.output.CTA }}",
              "type": "string"
            },
            {
              "id": "46b582f7-86a9-40f8-ad05-0623d9fb8157",
              "name": "Post",
              "value": "={{ $('Post Generation').item.json.output }}",
              "type": "string"
            },
            {
              "id": "3365f865-f892-4d81-9ded-92fe30f6443b",
              "name": "image Prompt",
              "value": "={{ $('AI Agent').item.json.output.prompt }}",
              "type": "string"
            },
            {
              "id": "ea0182c8-89e5-4b79-b803-caa94f9cf3f8",
              "name": "Image Url",
              "value": "={{ $('Edit Fields2').item.json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        0
      ],
      "id": "da1cbf3c-7542-4d60-8ab6-d19558b5d629",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        832,
        224
      ],
      "id": "1b6b9b83-c2c8-4ebe-be9b-1721b1c38433",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"Full Post\":\"This is post....\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1792,
        304
      ],
      "id": "4bf1c6fc-0b92-45b5-a49d-7dfb681ed523",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        []
      ]
    },
    "Supabase - Insert Draft": {
      "main": [
        [
          {
            "node": "Hook Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase - Insert Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CTA Generation": {
      "main": [
        [
          {
            "node": "Post Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Hook Generator1": {
      "main": [
        [
          {
            "node": "CTA Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Generation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase - Update Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Post Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "post_content": "AI is moving too fast for traditional education to keep up. University degrees in CS will be obsolete by 2030. Here is the new roadmap for self-taught engineers.",
          "platform": "X",
          "post_type": "leadmagnet"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ed976bf4-54e1-490f-9b91-5a196dff4a61",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-12T18:58:55.527Z",
      "createdAt": "2026-01-12T18:58:55.527Z",
      "role": "workflow:owner",
      "workflowId": "gMTBEwF00XASQl4t",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}