Backup_2025-12-06/Video Ad Generator.json
{
  "createdAt": "2025-10-20T18:51:43.432Z",
  "updatedAt": "2025-10-22T03:50:36.000Z",
  "id": "kX2CfYBKmaSwWHIL",
  "name": "Video Ad Generator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "ugc video",
        "formDescription": "This is collect data for video generation form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image url",
              "placeholder": "Enter your image url"
            },
            {
              "fieldLabel": "ratio video",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "portrait"
                  },
                  {
                    "option": "landscape"
                  }
                ]
              }
            },
            {
              "fieldLabel": "your idea",
              "placeholder": "Enter your idea"
            },
            {
              "fieldLabel": "number of videos",
              "placeholder": "Enter your number of videos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1456,
        208
      ],
      "id": "c361285e-322a-4ca8-86d2-3280aee9650f",
      "name": "On form submission",
      "webhookId": "a7fcac50-c715-47df-91a8-d737f8f85793"
    },
    {
      "parameters": {
        "url": "={{ $json['image url'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        208
      ],
      "id": "d043f23f-8429-4fe3-ac09-99e0d77cf638",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        224
      ],
      "id": "c9e4c97b-c54b-4e1a-9bcc-8d47e14b6b66",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "40fgvfnvvEv58zyH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"Title\": \"Titre ici\",\n      \"Caption\": \"Courte légende avec emoji 😂\",\n      \"sujet1\": \"sujet2 #sujet3 #sujet4 #populaire1\",\n      \"populaire2\": \"populaire3 #populaire4 #tendance1\",\n      \"tendance2\": \"tendance3 #tendance4\",\n      \"Prompt\": \"Invite ici\",\n      \"Image_reference\": \"https://example.com/image.jpg\"\n    },\n    {\n      \"Title\": \"Titre ici\",\n      \"Caption\": \"Courte légende avec emoji 😂\",\n      \"sujet1\": \"sujet2 #sujet3 #sujet4 #populaire1\",\n      \"populaire2\": \"populaire3 #populaire4 #tendance1\",\n      \"tendance2\": \"tendance3 #tendance4\",\n      \"Prompt\": \"Invite ici\",\n      \"Image_reference\": \"https://example.com/image.jpg\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        432
      ],
      "id": "91784237-5e79-4881-9230-e4ac2773d4e9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me {{ $('On form submission').item.json['number of videos'] }} video ideas to generate for TikTok Shop based on the user’s instruction:\n\n{{ $('On form submission').item.json['your idea'] }}\n\nHere is the description of the product image:\n\n{{ $json.content }}\n\nHere is the image URL: {{ $('HTTP Request').item.json['image url'] }}\n\n\nconvert the whole response to be in french.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "A – Ask (Request):\n\nSuggest detailed video prompts based on the user’s indications — always imitating the format, tone, and structure of a master prompt provided.\n\nIf no example is given, use the user’s idea to generate a new prompt in a cinematic in-house style.\nThe number of outputs is defined by the user.\n\nG – Guidance (Directives):\n\nRole: Visual director or prompt artist aligned with the brand\nNumber of outputs: As specified by the user\n\nConstraints:\n\nAlways follow the tone, brand, or direction of the user.\n\nStrictly respect the style, length, layout, form, and pacing of any master prompt provided.\n\nNever use characters, brands, or intellectual properties protected by copyright or trademark.\n\nAlways check the “Sheet” tool to avoid duplicate titles, legends, or prompts.\n\nDo not repeat ideas already listed in the Sheet.\n\nE – Examples:\n\nDirectly follow the instructions of any master prompt provided by the user:\n\nMatch the rhythm of sentences, length, and visual vocabulary of the example.\n\nReproduce exactly the tone, cinematic intensity, and phrasing structure.\n\nIf no master prompt is given, create a lively and immersive scene using a cinematic trailer-style voice.\n\nN – Notation:\n\nFormat: JSON\nExample output:\n\n{\n  \"scenes\": [\n    {\n      \"Title\": \"Title here\",\n      \"Caption\": \"Short caption with emoji 😊 #topic1 #topic2 #topic3 #popular1 #popular2 #trend1 #trend2 #trend3 #trend4\",\n      \"Prompt\": \"Prompt here\",\n      \"image_reference\": \"https://example.com/image.jpg\"\n    },\n    {\n      \"Title\": \"Title here\",\n      \"Caption\": \"Short caption with emoji 😊 #topic1 #topic2 #topic3 #popular1 #popular2 #trend1 #trend2 #trend3 #trend4\",\n      \"Prompt\": \"Prompt here\",\n      \"image_reference\": \"https://example.com/image.jpg\"\n    }\n  ]\n}\n\n\nT - Tools (Outfits):\n\nYou have the following tools at your disposal, each clearly described:\n\nThink tool: Always use this tool to prefer reflection and reasoning before responding.\nSheet: A useful memo allowing you to verify if a similar idea has already been generated. Always consult it to avoid repetition of titles, legends, or invitations.\n#Voice! (example of a prompt):\n\nDialogue: \"I discovered this hat on a line and immediately put it on, it fits perfectly. Comfortable and quite suitable for a suit or a touch of chic elegance. It changes everything!\"\nEmotion: Confidence, slight enthusiasm, with a touch of playfulness.\nVoice type: Feminine voice, soft and clear, with a French accent, enjoyable and sincere.\n\nSheet: A memo allowing you to verify if a similar idea has already been generated. Always consult it to avoid repetition of titles, legends, or invitations.\n#Voice! (example of a good prompt):\n\nDialogue: \"I discovered this hat online and frankly, it has become my favorite accessory. This khaki hat in faux fur with a feather is stylish, comfortable, and adds a touch of chic and natural elegance. And this little feather, it really changes everything!\"\nEmotion: Confidence, slight enthusiasm, with a warm and natural tone.\nVoice type: Feminine voice, soft and clear, with a French accent, playful and sincere.\nAction: She adjusts the khaki hat on her head, smiles at the camera, turns slightly to show the side with the feather, then brushes the edge of the hat while continuing to speak.\nCharacter: Brunette woman with wavy hair, light makeup, relaxed yet elegant style, white blouse, beige pants, discreet accessories.\nSetting: Café terrace in the afternoon, natural ambiance with plants and light wooden furniture, soft late afternoon light.\nCamera: Smartphone video, handheld, vertical framing, natural shakes, authentic lighting, realistic rendering.\n\n\n\nconvert the whole response to be in french."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -672,
        0
      ],
      "id": "95ddc720-b3ad-4d16-aa62-2ca3318749e1",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -656,
        224
      ],
      "id": "e0510677-2a4e-407b-9c5d-f175afab17e9",
      "name": "Think"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc",
          "mode": "list",
          "cachedResultName": "fahad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 507698155,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc/edit#gid=507698155"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -528,
        224
      ],
      "id": "5f41224f-d238-4ba7-8a0b-8046c52c9ca9",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EmVhoWvbhglq5bF4",
          "name": "AH-Google-Sheets-Account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "c268b7ed-690f-43dd-9306-7afd446a8fcd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8",
          "mode": "list",
          "cachedResultName": "Video Generator Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 507698155,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc/edit#gid=507698155"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "idea generate",
            "Title": "={{ $('Split Out').item.json.Title }}",
            "Prompt": "={{ $('Split Out').item.json.Prompt }}",
            "Description": "={{ $('Split Out').item.json.Caption }}",
            "Url Image": "={{ $json.secure_url }}",
            "Ratio": "={{ $('On form submission').item.json['ratio video'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ratio",
              "displayName": "Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url Image",
              "displayName": "Url Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url Video Generate",
              "displayName": "Url Video Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        208
      ],
      "id": "c042bf03-d110-4b0e-a64b-7d9fcc70c10a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EmVhoWvbhglq5bF4",
          "name": "AH-Google-Sheets-Account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1456,
        928
      ],
      "id": "e1894658-435e-42af-ac42-2878e2a27afe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8",
          "mode": "list",
          "cachedResultName": "Video Generator Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1232,
        928
      ],
      "id": "4f8615cd-2e93-435e-bd5e-2b2a32770157",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EmVhoWvbhglq5bF4",
          "name": "AH-Google-Sheets-Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json['Url Image'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        928
      ],
      "id": "bb94ef03-2fd7-45f5-bb73-76f01f398817",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-stream-upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ea589eba41b18b18817d9376fef0995d"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "uploadPath",
              "value": "images/user-uploads"
            },
            {
              "name": "fileName",
              "value": "={{ $json.Title }}.jpg"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        928
      ],
      "id": "b6e19023-c2dd-495d-bfbe-35898419bc22",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        1024
      ],
      "id": "28863781-e6fa-49b6-aad9-0c7a8fc2581c",
      "name": "Wait1",
      "webhookId": "070665bc-15b5-487d-ab0a-dc6c31361781"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc",
          "mode": "list",
          "cachedResultName": "fahad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 507698155,
          "mode": "list",
          "cachedResultName": "Sheet5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyyvmAZmflAGwHj7uJNvM0jZmw-o9HrFyXRmOYaKlzc/edit#gid=507698155"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "generate",
            "Title": "={{ $('HTTP Request1').item.json.Title }}",
            "Url Video Generate": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ratio",
              "displayName": "Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url Image",
              "displayName": "Url Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url Video Generate",
              "displayName": "Url Video Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        832
      ],
      "id": "e0e3563f-9f3c-480a-bd6e-3157076f1800",
      "name": "Mark Status as Fail1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EmVhoWvbhglq5bF4",
          "name": "AH-Google-Sheets-Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8",
          "mode": "list",
          "cachedResultName": "Video Generator Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHKXELh0KIMIWeolyh_NrlbuVa7IpXupT5Sc5l6i3-8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('HTTP Request1').item.json.Title }}",
            "Status": "Error"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ratio",
              "displayName": "Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url Image",
              "displayName": "Url Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url Video Generate",
              "displayName": "Url Video Generate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        640
      ],
      "id": "96d76ae6-3238-4410-a9f8-742d7705ec69",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EmVhoWvbhglq5bF4",
          "name": "AH-Google-Sheets-Account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19be8f8b-cc32-41c5-b034-9ab7332a6126"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc15fb1f-5671-4318-b676-88b0370ea136",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "402407f7-0242-4260-ac2b-1cbeebbb386b",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c9a35ac-ff51-4722-986e-3a98c07ebc85",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "generating",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -112,
        800
      ],
      "id": "f7d2fccb-84d3-485b-8c6b-26f168c73b93",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $('HTTP Request1').item.json.Prompt }}\",\n    \"image_urls\": [\n      \"{{ $json.data.downloadUrl }}\"\n    ]\n  },\n  \"aspect_ratio\": \"{{ $('HTTP Request1').item.json.Ratio }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        928
      ],
      "id": "82c8a8f5-72c6-4b02-8593-39dc5000998b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        928
      ],
      "id": "1bcf6448-91b6-456a-8941-469badd2fa1b",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9s8TrqhvQIecJNXX",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analyze the given image and determine whether it primarily represents a product, a character, or both.\n\nIf the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand displayed on the image, if visible or deducible)\ncolor_scheme:\n  hex: (Hexadecimal code of each dominant color used)\n  name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used, e.g., serif/sans-serif, bold/thin, etc.)\nvisual_description: (One or two sentences summarizing what is seen on the image, ignoring the background)\n\n\nIf the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or deducible)\ncolor_scheme:\n  hex: (Hexadecimal code of each dominant color used on the character)\n  name: (Descriptive name of the color)\noutfit_style: (Description of the clothing style, accessories, or notable characteristics)\nvisual_description: (One or two sentences summarizing the character’s appearance, ignoring the background)\n\n\nReturn only the YAML.\nDo not add any other explanation or comment.\n\nIf it’s both, return both descriptions as indicated above, in YAML format.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1008,
        208
      ],
      "id": "63a2ab58-ddee-41cd-9847-0a0cfe6b3675",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "40fgvfnvvEv58zyH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -400,
        224
      ],
      "id": "fdb45a68-1809-4818-957f-181b516bc6e4",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        432
      ],
      "id": "427c67f0-5bf5-4e4c-9a45-74bc57fef8b5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "40fgvfnvvEv58zyH",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/duutt6k9s/image/upload",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.Image_reference }}"
            },
            {
              "name": "upload_preset",
              "value": "cloudinary_image_n8b"
            },
            {
              "name": "folder",
              "value": "cloudinary_image_n8b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        208
      ],
      "id": "d49d247c-e972-4551-9a31-9d9ae91b8a09",
      "name": "HTTP Request5"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Status as Fail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "HTTP Request3": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "cef606746c740d1b6cfd455dae71f50b",
            "recordId": "cef606746c740d1b6cfd455dae71f50b"
          }
        }
      }
    ]
  },
  "versionId": "a75c3dd9-4def-4a8d-9db4-bd920d32eaa2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-20T18:51:43.435Z",
      "updatedAt": "2025-10-20T18:51:43.435Z",
      "role": "workflow:owner",
      "workflowId": "kX2CfYBKmaSwWHIL",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}