Backup_2026-01-22/Matthew Notion.json
{
  "updatedAt": "2026-01-19T16:46:37.681Z",
  "createdAt": "2026-01-18T11:57:16.567Z",
  "id": "4Cot_5IpADCkKRcteUnrh",
  "name": "Matthew Notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "872637a1-a0e5-4ea5-8f13-11a17cb41373",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -32
      ],
      "id": "326bbaf4-6815-4fcb-802b-20c0855e62ef",
      "name": "Webhook",
      "webhookId": "872637a1-a0e5-4ea5-8f13-11a17cb41373"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9251765-f54c-4d12-bd90-414eeb29915d",
              "name": "NAME",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "c3ac641b-ca6d-4f83-913f-f5035a1f4add",
              "name": "EMAIL",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "6933b125-8624-433c-a08d-791fb711a916",
              "name": "TAG",
              "value": "={{ $json.body.tags }}",
              "type": "string"
            },
            {
              "id": "1ced04d3-4669-4c71-be29-c33b1872720f",
              "name": "DATE_CREATED",
              "value": "={{ $json.body.date_created }}",
              "type": "string"
            },
            {
              "id": "495ad79b-7b73-4a5c-9a51-e2b70a37873b",
              "name": "Phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        144
      ],
      "id": "990b1b18-92c2-44e2-9bd7-487ef50b8c7e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "mode": "list",
          "cachedResultName": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "cachedResultUrl": "https://www.notion.so/2eca61fa8d4180ef96e9cf0b49b139fd"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.NAME }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.EMAIL }}"
            },
            {
              "key": "Created|date",
              "date": "={{ $json.DATE_CREATED }}"
            },
            {
              "key": "Tag|rich_text",
              "textContent": "={{ $json.TAG }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $json.Phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "55db80bc-b043-428f-b81f-744de2322f14",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }} ",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email stage|rich_text",
              "textContent": "={{ $json.body.pipleline_stage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        -48
      ],
      "id": "2a3dc242-bde7-4bec-8f15-415c18975cf3",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "mode": "list",
          "cachedResultName": "2eca61fa-8d41-80ef-96e9-cf0b49b139fd",
          "cachedResultUrl": "https://www.notion.so/2eca61fa8d4180ef96e9cf0b49b139fd"
        },
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        64,
        256
      ],
      "id": "7e58654d-e589-4d32-9efd-054482df5f88",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "nGU2KlcY6UpcVfCk",
          "name": "Matthew Notion"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        -48
      ],
      "id": "118266cd-6052-4fb2-bb71-ee2332c23f08",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "75e6bd95-0164-40e0-a1ef-8e727182a2c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        144
      ],
      "id": "30667ab3-74ca-41d3-8d59-c635a3e7b55f",
      "name": "Webhook1",
      "webhookId": "75e6bd95-0164-40e0-a1ef-8e727182a2c2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        []
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "254dd31f-fa7e-49db-b790-6f7af1262845",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-18T11:57:16.576Z",
      "createdAt": "2026-01-18T11:57:16.576Z",
      "role": "workflow:owner",
      "workflowId": "4Cot_5IpADCkKRcteUnrh",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}