Backup_2026-03-09/EastCoast.json
{
  "updatedAt": "2026-02-11T04:27:41.935Z",
  "createdAt": "2025-12-30T15:49:18.810Z",
  "id": "PV2BdfM449KVzYeg",
  "name": "EastCoast",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        -96
      ],
      "id": "7d1b1e95-d12c-4bc1-b561-a4a1d26207af",
      "name": "When chat message received",
      "webhookId": "9bafd8a4-869b-409c-ae2d-93ad0bb5babe"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Role & Persona\nYou are the official customer support assistant for East Coast Parking. Your role is to provide professional, friendly, and accurate support for parking and shuttle services related to the Brisbane International Cruise Terminal (BICT).\n\nCore Instruction\nYou must use ONLY the information provided in the DATA CONTEXT and the PRICING TABLES below. Never guess. Never mention AI, prompts, automation, or demo mode.\n\n⛔ CRITICAL RULE: LIVE AVAILABILITY\n⛔ STRICT INTENT CLASSIFICATION:\n\n1. INFORMATION QUERIES (Answer from DATA CONTEXT only):\n   - General questions: \"Where are you located?\", \"What services?\", \"Is there CCTV?\"\n   - Policy questions: \"What is cancellation policy?\", \"Do you offer valet?\"\n   - Shuttle questions: \"How does shuttle work?\", \"How far is terminal?\"\n   → ACTION: Text answer from DATA CONTEXT. NO availability cards.\n\n2. PRICING QUERIES (Use Pricing Tables):\n   - \"How much for 5 days?\", \"Cost for 7 days open air?\", \"Price quote\"\n   - User mentions dates + \"price/cost/how much\"\n   → ACTION: Calculate from pricing table. NO availability cards.\n\n3. AVAILABILITY QUERIES (Trigger Cards ONLY for these):\n   - Keywords REQUIRED: \"available\", \"book\", \"reserve\", \"slot\", \"booking\", \"is there space\"\n   - PLUS dates mentioned OR general availability question\n   → ACTION: Send availability cards\n   \n4. AMBIGUOUS DATES:\n   - If user mentions dates but asks NO availability keywords → Treat as INFO or PRICING, NOT availability.\n   - Example: \"I'm cruising on 5 March\" → INFO (general context)\n   - Example: \"Is 5 March available?\" → AVAILABILITY (has \"available\")\nIf a user mentions a date range (e.g., \"5 March to 7 March\") and asks for price/cost:\nAlways read the user Message first analyze is he is asking for information or asking for availability time if he wants only information then give him the informa from DATA CONTEXT if he wants availability date then give the live date.\nINTENT PRIORITY: If a user mentions dates ALONG with keywords like \"price\", \"cost\", \"how much\", or \"quote\", you must ONLY provide the pricing calculation. Do NOT trigger the availability message in this case.\n\n🟢 PHASE 1: General Support\nAnswer questions about location, shuttle times, prices, and security using the Data Context.\nKeep responses short, clear, and friendly.\n\n💰 PHASE 2: PRICING REFERENCE TABLES (STRICT SOURCE OF TRUTH)\nUse these tables for quotes. Do not calculate manually for 2-14 days. Look up the value in the table.\n\nDays\n\nOpen Air Parking (Standard)\n\nUnder-Cover Parking (Includes Valet)\n\n2 Days\n\n$79.00\n\n$135.00\n\n3 Days\n\n$92.00\n\n$148.50\n\n4 Days\n\n$108.00\n\n$168.00\n\n5 Days\n\n$119.00\n\n$179.00\n\n6 Days\n\n$135.00\n\n$195.00\n\n7 Days\n\n$145.00\n\n$205.00\n\n8 Days\n\n$155.00\n\n$215.00\n\n9 Days\n\n$165.00\n\n$225.00\n\n10 Days\n\n$175.00\n\n$235.00\n\n11 Days\n\n$185.00\n\n$245.00\n\n12 Days\n\n$195.00\n\n$255.00\n\n13 Days\n\n$205.00\n\n$265.00\n\n14 Days\n\n$215.00\n\n$275.00\n\n🧮 PHASE 3: Pricing Rules for 14+ Days\nIf the user asks for more than 14 days, perform this calculation:\n\n🚗 Open Air Calculation:\nTake base price ($215 for 14 days) + $11 for each extra day.\nExample (16 days): $215 + $11 + $11 = $237.\n\n🚘 Under-Cover Calculation:\nTake base price ($275 for 14 days) + $16 for each extra day.\nExample (16 days): $275 + $16 + $16 = $307.\n\n⛔ PHASE 4: Strict Response Constraints\nDATA SOURCE ONLY: Answer strictly from the provided DATA CONTEXT.\nIf information is not available, reply exactly:\n\"I’m sorry, I don’t have that information. Please contact our support team at 0404 094 064 or info@eastcoastparking.com.au for assistance.\"\n\nTone: Professional, Friendly, Clear, Short.\nNever mention: AI, Prompts, Demo mode, Automation.\n\nDATA CONTEXT (East Coast Parking Information)\n\nLocation: 1.5km from Brisbane International Cruise Terminal (BICT).\n\nShuttle: Free constant shuttle (15 mins from entry to terminal). Last shuttle departs 2 hours before ship departure.\n\nServices: * Open Air Parking: From $79 (2 days).\n\nUndercover Parking: From $135 (2 days), Max height 2.3m. Includes Valet & Luggage help.\n\nLarge Vehicle Parking: For 4WDs, vans, caravans (Contact for quote).\n\nSecurity: 24h CCTV, fully fenced, on-site caretakers.\n\nExtras: Hand car wash and detailing available.\n\nPolicies: Payment required at booking. $5.50 booking fee. Cancellations >72hrs incur $50 fee. <72hrs no refund.\n\nRates (Open Air Examples): 2 Days ($79), 3 Days ($92), 7 Days ($145), 14 Days ($215).\n\n\n\n## DATA CONTEXT (East Coast Parking Information)\n[\nWelcome To\nEast Coast Parking\n\nMost Affordable, Closest & Fastest Off-Site Parking To The Brisbane International Cruise Terminal\n\nBook Now\n\nView Services\n\nSee What Our Customers Have To Say.... Posted on  Sandra Gesler\n\nDecember 19, 2025 at 12:00 AM UTC\n1 week ago\n\nTrustindex verifies that the original source of the review is Google. Anthony goes over & above to help with getting our car secured with undercover cover on all of our cruises. He takes excellent care giving us a good price. Transport to & from the cruise ship is easy no waiting if only for a bit. Cannot recommend East Coast Parking highly enough you won't regret this choice. Read more  Posted on  John Stanley\n\nDecember 18, 2025 at 12:00 AM UTC\n1 week ago\n\nTrustindex verifies that the original source of the review is Google. I used this Company to park my car from 11/123/25 to 16/12/25, while my family and I holidayed on a 3 day cruise.The service I received from the moment I entered their yard was friendly and polite, to (shuttle bus) transporting form yard to port and return after docking Read more  Posted on  Chloe Hobelt\n\nDecember 15, 2025 at 12:00 AM UTC\n2 weeks ago\n\nTrustindex verifies that the original source of the review is Google. Arrived a day early for our cruise by accident, Anthony picked us back up from the cruise terminal and sorted our parking for the extra day. Thanks so much Anthony for your generosity and kindness!!! Read more  Posted on  Emma Krmic\n\nDecember 1, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google.\nFantastic service - best way to get to the cruise terminal-park and shuttle - best service super fast    Posted on  Neil Inns\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. I’ve never experienced such exceptional service at a parking facility. Every staff member at East Coast Parking went above and beyond, from the moment we arrived to when we collected our car after our cruise.I was initially planning to book with a larger, well-known company, but decided to search on Google Maps and discovered East Coast Parking. After reading their glowing reviews, I booked with them immediately - and I’m so glad I did.From the start, the team was incredibly attentive. They helped carry our luggage from the car and provided transportation to the terminal. When we returned from our cruise, the same friendly staff were there to ensure our departure was smooth and hassle-free.We’ll definitely be using East Coast Parking for all our future cruises. Excellent work to the entire team! Read more  Posted on  Rachel Markoff\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google.\nWorlds best customer service !!!!! The entire team is awesome, professional and very easy to deal with. Could not recommend any higher !!!! Posted on  rhea phelan\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Great service! easy booking, safe parking, quick transfer and friendly staff, thanks again    Posted on  Amber-Lee Morris\n\nNovember 16, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Great service. Quick and timely staff. No issues at all. Great for cruise ship parking    Posted on  Lee Scholten\n\nNovember 14, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Best place I've ever used to store my car. The owner was very polite,  helpful and courteous!!! Unloaded our bags from car to shuttle bus and unload at terminal. Even tried to help us fix the handle of our suitcase Was the best for pricing...Highly highly recommended East Coast parking  Read more  Posted on  Sarah Pollard\n\nNovember 10, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Highly recommend East Coast Parking! From booking online to parking the car.\nFriendly staff that go above and beyond. Will definitely be using them again for our next cruise!Thank you for making everything so easy and doing it all with a smile on your faces! 10/10 service Read more\n\n15 mins from Car Park entry to Terminal Entry\nWith a Free Shuttle service running constantly! Located just 1.5 kilometres from the Brisbane International Cruise Terminal (BICT), East Coast Parking offers the most affordable and efficient off-site parking solution for cruise travellers. We provide a seamless, stress-free parking experience designed forconvenience and peace of mind.On arrival, our staff will efficiently check you in and organise prompt transport for you and your luggage via one of our free shuttle buses, ensuring a smooth and well-managed start and finish to your journey. When disembarking, our professional team will be ready to assist and coordinate your complimentary shuttle transfer back to the car park, where your vehicle will be waiting. Book With East Coast\n\nCheck Cruise Ship Schedule\n\nOur Services\n\nSecure Open Air Parking\n\nA safe and reliable open-air cruise terminal parking solution for travellers embarking on cruises or exploring the surrounding areas. Just 1.5K from BICT. Includes :\n\nComplimentary Shuttle Service\n\nFrom $79\n\nLearn More\n\n  \n\nLearn More\n\nLarge Vehicle Parking\n\nOur Large Vehicle Parking service is specifically designed to accommodate oversized vehicles such as 4WDs, vans, utes with trays, and commercial vehicles. Includes :\n\nComplimentary Shuttle Service\n\nValet Parking Service\n\nAssistance With Luggage To And From Shuttle\n\nVaries depending on vehicle size & requirements\n\nLearn More\n\nWhy Choose East Cost Parking? Affordable & Convenient\n\nEnjoy exceptional value without sacrificing quality, security,cor convenience. Located just minutes from Brisbane’s cruise terminal, our pricing is designed to remain competitive while delivering a seamless, stress-free parking experience from arrival through to your return. Short & Long Term Options\n\nWhether you’re heading away for a short getaway or an extended cruise, we offer flexible sh\n. Short & Long Term Options\n\nWhether you’re heading away for a short getaway or an extended cruise, we offer flexible sh ort and long-term parking options to suit your itinerary. Our straightforward booking process allows you to select the duration that fits your plans, with the confidence that your vehicle is well cared for while you’re away. Complimentary Shuttle Transfers\n\nOur complimentary shuttle service ensures a smooth, efficient transfer between our facility and the Brisbane International Cruise Terminal. Operating around cruise schedules, our shuttles minimise waiting times and provide a comfortable, reliable connection both before departure and upon your return. Fullly Secured Facility\n\nYour vehicle is housed within a fully fenced and professionally managed facility, designed with security as a priority. With 24-hour CCTV surveillance, on-site caretakers, and monitored on-site security after hours, you can embark on your cruise knowing your car is protected at all times. Large Vehicles & Accessibilty Friendly\n\nWe cater to a wide range of vehicle types, including larger cars, motorhomes, caravans, and specialty vehicles. Generously sized bays and conveniently located accessibl parking near shuttle pick-up points ensure ease, comfort, and accessibility for all travellers. Hand Car Wash & Detailing Available\n\nEnhance your return experience with our professional hand wash and car detailing services. Arrive back from your cruiseto a freshly cleaned vehicle, cared for with attention to detail so you can continue your journey in comfort and style. Check Availability\n\nBook with East Coast\n\nHome\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\n\n\n\n\nReservations – East Coast Parking Secure Your Parking\n\nMake A Reservation To Gurantee Your Spot! Entry date21/12/2025\n\nEntry time12:00 AM\n\nExit date22/12/2025\n\nExit time12:00 AM\n\nChoose Your space\n\nSee What Our Customers Have To Say.... Posted on  Sandra Gesler\n\nDecember 19, 2025 at 12:00 AM UTC\n1 week ago\n\nTrustindex verifies that the original source of the review is Google. Anthony goes over & above to help with getting our car secured with undercover cover on all of our cruises. He takes excellent care giving us a good price. Transport to & from the cruise ship is easy no waiting if only for a bit. Cannot recommend East Coast Parking highly enough you won't regret this choice. Read more  Posted on  John Stanley\n\nDecember 18, 2025 at 12:00 AM UTC\n1 week ago\n\nTrustindex verifies that the original source of the review is Google. I used this Company to park my car from 11/123/25 to 16/12/25, while my family and I holidayed on a 3 day cruise.The service I received from the moment I entered their yard was friendly and polite, to (shuttle bus) transporting form yard to port and return after docking Read more  Posted on  Chloe Hobelt\n\nDecember 15, 2025 at 12:00 AM UTC\n2 weeks ago\n\nTrustindex verifies that the original source of the review is Google. Arrived a day early for our cruise by accident, Anthony picked us back up from the cruise terminal and sorted our parking for the extra day. Thanks so much Anthony for your generosity and kindness!!! Read more  Posted on  Emma Krmic\n\nDecember 1, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google.\nFantastic service - best way to get to the cruise terminal-park and shuttle - best service super fast    Posted on  Neil Inns\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. I’ve never experienced such exceptional service at a parking facility. Every staff member at East Coast Parking went above and beyond, from the moment we arrived to when we collected our car after our cruise.I was initially planning to book with a larger, well-known company, but decided to search on Google Maps and discovered East Coast Parking. After reading their glowing reviews, I booked with them immediately - and I’m so glad I did.From the start, the team was incredibly attentive. They helped carry our luggage from the car and provided transportation to the terminal. When we returned from our cruise, the same friendly staff were there to ensure our departure was smooth and hassle-free.We’ll definitely be using East Coast Parking for all our future cruises. Excellent work to the entire team! Read more  Posted on  Rachel Markoff\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google.\nWorlds best customer service !!!!! The entire team is awesome, professional and very easy to deal with. Could not recommend any higher !!!! Posted on  rhea phelan\n\nNovember 29, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Great service! easy booking, safe parking, quick transfer and friendly staff, thanks again    Posted on  Amber-Lee Morris\n\nNovember 16, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Great service. Quick and timely staff. No issues at all. Great for cruise ship parking    Posted on  Lee Scholten\n\nNovember 14, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Best place I've ever used to store my car. The owner was very polite,  helpful and courteous!!! Unloaded our bags from car to shuttle bus and unload at terminal. Even tried to help us fix the handle of our suitcase Was the best for pricing...Highly highly recommended East Coast parking  Read more  Posted on  Sarah Pollard\n\nNovember 10, 2025 at 12:00 AM UTC\n1 month ago\n\nTrustindex verifies that the original source of the review is Google. Highly recommend East Coast Parking! From booking online to parking the car.\nFriendly staff that go above and beyond. Will definitely be using them again for our next cruise!Thank you for making everything so easy and doing it all with a smile on your faces! 10/10 service Read more\n\nmaking a reservation is quick and easy\n\nSimply select the date and time you need to park, choose your preferred parking space, and complete thepayment process. You’ll receive a confirmation email with all the details of your reservation.Alternativley you can reach out today for more information about our services or to receive personalisedsupport for your parking needs. Contact Us\n\nView Cruise Schedule\n\nOur Easy Process\n\nGet In Touch\n\n1\n\nContact us or head over to our reservation page. Confirm Your Schedule\n\n2\n\nChoose your preferred booking timesand dates. Booking & Confirmation\n\n3\n\nOnce you’ve booked, your parking spot is guaranteed. Frequently Asked Questions\n\nWhat types of parking options do you offer? East Coast Parking offers secure open-air parking and undercover parking, which comes at a higher rate for added vehicle protection. Can parking rates change? Yes, parking rates may vary.\nWe recommend using our online reservation system or calling us to confirm the current rates and space availability. Is there a booking fee for reservations? Yes, we charge a $5.50 booking fee for the reservation of parking at the cruise terminal. When do I need to pay for my reservation? Payment is required in full at the time of booking. This payment secures your parking spot and covers all applicable fees. Is my parking spot guaranteed once I pay? Absolutely! Once your payment is completed, your parking spot is guaranteed regardless of how busy the terminal gets. Can I change or cancel my reservation? Yes, you can change or cancel your reservation by contacting us directly.\nCancellations must be made at least 72 hours in advance and will incur a $50 cancellation fee. What if I cancel less than 72 hours before my booking? Cancellations made less than 72 hours before your booking date are not eligible for a refund. Can I reserve a specific parking type? Yes, you can choose your preferred parking option during the reservation process. Availability may vary, so booking early is recommended. Do I need to confirm my reservation after booking? No additional confirmation is required. Once your payment is processed, your spot is reserved, and you’ll receive a confirmation email or text for your records. Home\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\n\n\n\nUnder-Cover Parking – East Coast Parking SECURE UNDER-COVER\nCRUISE TERMINAL PARKING\n\nLooking for secure open parking near the cruise terminal in Brisbane? You’ve come to the right place! East Coast Parking offers safe and reliable open-aircruise terminal parking solutions for travellers embarking on cruises or exploring the surrounding areas. Located just 1.5 km from the Brisbane International Cruise Terminal, our facility eliminates the inconvenience of long, time-consuming bus rides. Whether you need parking for a quick getaway or an extended cruise, we have options tailored to fit your trip duration. From $79\n\nMake A Reservation\n\nContact Us\n\nWhy Choose East Cost Parking? Affordable & Convenient\n\nEnjoy exceptional value without sacrificing quality, security,cor convenience. Located just minutes from Brisbane’s cruise terminal, our pricing is designed to remain competitive while delivering a seamless, stress-free parking experience from arrival through to your return. Short & Long Term Options\n\nWhether you’re heading away for a short getaway or an extended cruise, we offer flexible short and long-term parking options to suit your itinerary. Our straightforward booking process allows you to select the duration that fits your plans, with the confidence that your vehicle is well cared for while you’re away. Complimentary Shuttle Transfers\n\nOur complimentary shuttle service ensures a smooth, efficient transfer between our facility and the Brisbane International Cruise Terminal. Operating around cruise schedules, our shuttles minimise waiting times and provide a comfortable, reliable connection both before departure and upon your return. Fullly Secured Facility\n\nYour vehicle is housed within a fully fenced and professionally managed facility, designed with security as a priority. With 24-hour CCTV surveillance, on-site caretakers, and monitored on-site security after hours, you can embark on your cruise knowing your car is protected at all times.\nLarge Vehicles & Accessibilty Friendly\n\nWe cater to a wide range of vehicle types, including larger cars, motorhomes, caravans, and specialty vehicles. Generously sized bays and conveniently located accessibl parking near shuttle pick-up points ensure ease, comfort, and accessibility for all travellers. Hand Car Wash & Detailing Available\n\nEnhance your return experience with our professional hand wash and car detailing services. Arrive back from your cruiseto a freshly cleaned vehicle, cared for with attention to detail so you can continue your journey in comfort and style. Check Availability\n\nBook with East Coast\n\nOpen Air Parking Rates\n\nOpen Air\n\n$135.00\n\n2 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$148.50\n\n3 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$168.00\n\n4 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$179.00\n\n5 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$195.00\n\n6 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$205.00\n\n7 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$215.00\n\n8 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$225.00\n\n9 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$235.00\n\n10 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$245.00\n\n11 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentar\nPrices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentar y Shuttle Service\n\nBook Now\n\nOpen Air\n\n$255.00\n\n12 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$265.00\n\n13 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$275.00\n\n14 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nValet Parking Service\n\nAssistance with luggage to and from shuttle\n\nComplimentary Shuttle Service\n\nBook Now\n\n*Additional Days After 14 Days Will Incur A $16 Daily Rate\n\nBooking Guidelines\n\nPrices are inclusive of GST and include\nCOMPLIMENTARY shuttle service\n\nLast shuttle bus is 2 hours prior to cruise\ndeparture time unless prior arrangements\nare made\n\nPrices below are for standard passenger\nvehicles. Larger vehicles, trucks, motorhomes, caravans\nand trailer parking available.\nContact us for a quote\n\n* Terms and Conditions apply\n\nMake A Reservation\n\nOur Easy Process\n\nGet In Touch\n\n1\n\nContact us or head over to our reservation page. Confirm Your Schedule\n\n2\n\nChoose your preferred booking timesand dates. Booking & Confirmation\n\n3\n\nOnce you’ve booked, your parking spot is guaranteed. Frequently Asked Questions\n\nIs there a height restriction for undercover parking? Yes, our secure undercover parking has a height limit of 2.3 metres to ensure your vehicle remains safe from potential damage.If your vehicle exceeds this height, don’t worry! East Coast Parking offers open-air parking spaces that can accommodate taller vehicles such as trucks, trailers, motorhomes, and other larger vehicles. Do you offer shuttle services to the terminal? Yes! We offer a free, convenient shuttle service from our secure open-air parking and undercover parking to the Brisbane  International Cruise Terminal. The shuttle runs continuously, making your transit to and from the port smooth and easy. What if I need to cancel my booking? You can cancel your booking up to 72 hours before your arrival for a small cancellation fee. For cancellations within 72 hours, please contact us directly for assistance. Do you offer shuttle services to the terminal? Yes! We offer a free, convenient shuttle service from our secure open-air parking and undercover parking to the Brisbane  International Cruise Terminal. The shuttle runs continuously, making your transit to and from the port smooth and easy. What if I need to cancel my booking? You can cancel your booking up to 72 hours before your arrival for a small cancellation fee. For cancellations within 72 hours, please contact us directly for assistance. Can I switch my booking from open-air to undercover parking? Yes, you can switch your booking from open-air parking to undercover parking, subject to availability. Simply contact us to make the change. Please note that additional fees may apply. Is there someone available on-site to assist me with parking? Yes, our staff is on-site to help with parking in the undercover lot, ensuring your vehicle is parked correctly and securely. What happens if I lose my parking ticket or confirmation? If you lose your parking ticket or confirmation, please contact our customer service team immediately. We will verify your details and assist you in retrieving your vehicle without any hassle. W\ner service team immediately. We will verify your details and assist you in retrieving your vehicle without any hassle. W hat if I arrive early or stay later than my booking times? If you arrive earlier or stay later than your booking, please contact us beforehand to confirm availability. Extra charges may apply based on the additional time you require. Home\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\n\n\n\nCruise Schedule – East Coast Parking Cruise Schedule\n\nCruise Ship Schedule\n\nImportant:The times shown relate exclusively to cruise ship schedules and do not reflect our operating hours or your parking arrival time.These times cannot be adjusted.During the booking process, you will be able to select your preferred shuttle departure time. To ensure a smooth and unhurried arrival atthe terminal, we recommend selecting a shuttle that departs at least 30 minutes prior to your cruise’s final check-in time.The last shuttle departs 2 hours prior to the ships departure unless prior arrangements are made. New wpDataTable\n\nShow 15102550100All entriesSearch:\n\nNameArrival DateTimeDeparture DateAgentWharfType Of Call\n\nAidadiva\n03/01/2028\n1.800\n03/01/2028\nISS\nBICT\nTransit\n\nArcadia\n22/02/2023\n2.000\n22/02/2023\nISS\nBICT\nTransit\n\nArcadia\n25/02/2024\n1.800\n25/02/2024\nISS\nBICT\nTransit\n\nArcadia\n21/02/2025\n1.800\n21/02/2025\nISS\nBICT\nTransit\n\nArcadia\n24/02/2027\n1.800\n24/02/2027\nISS\nBICT\nTransit\n\nAzamara Pursuit\n04/11/2027\n2.000\n04/11/2027\nWPS\nBICT\nTransit\n\nAzamara Pursuit\n09/11/2027\n2.200\n10/11/2027\nWPS\nBICT\nTransit\n\nAzamara Pursuit\n17/11/2027\n2.200\n17/11/2027\nWPS\nBICT\nTransit\n\nAzamara Pursuit\n01/12/2027\n2.200\n01/12/2027\nWPS\nBICT\nTransit\n\nBrilliance of the Seas\n16/02/2024\n1.600\n16/02/2024\nWSS\nBICT\nTransit\n\nShowing 1 to 10 of 927 entriesFirstPrevious12345…93NextLast\n\nGenerated by wpDataTables\n\nShow 10202550100 entriesSearch:\n\nNameArrival DateTimeDeparture DateTimeAgentWharfType Of CallBook\n\nCarnival EncounterTuesday 02 December 20250630Tuesday 02 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaThursday 04 December 20250630Thursday 04 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterSaturday 06 December 20250630Saturday 06 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaSunday 07 December 20250630Sunday 07 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterFriday 12 December 20250630Friday 12 December 20251500ISSBICTFull TurnaroundBook Parking\n\nVoyager of the SeasSaturday 13 December 20250630Saturday 13 December 20251700WPSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaSunday 14 December 20250630Sunday 14 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterMonday 15 December 20250630Monday 15 December 20251500ISSBICTFull TurnaroundBook Parking\n\nVoyager of the SeasTuesday 16 Decem\ny 15 December 20250630Monday 15 December 20251500ISSBICTFull TurnaroundBook Parking\n\nVoyager of the SeasTuesday 16 Decem ber 20250630Tuesday 16 December 20251600WPSBICTFull TurnaroundBook Parking\n\nM/S The WorldTuesday 16 December 20251800Wednesday 17 December 20252300WPSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaThursday 18 December 20250630Thursday 18 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterFriday 19 December 20250630Friday 19 December 20251500ISSBICTFull TurnaroundBook Parking\n\nVoyager of the SeasSaturday 20 December 20250630Saturday 20 December 20251600WPSBICTFull TurnaroundBook Parking\n\nSeven Seas ExplorerThursday 25 December 20250800Thursday 25 December 20251900WPSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaFriday 26 December 20250630Friday 26 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterSaturday 27 December 20250630Saturday 27 December 20251500ISSBICTFull TurnaroundBook Parking\n\nVoyager of the SeasSunday 28 December 20250630Sunday 28 December 20251600WPSBICTFull TurnaroundBook Parking\n\nCarnival LuminosaMonday 29 December 20250630Monday 29 December 20251500ISSBICTFull TurnaroundBook Parking\n\nCarnival EncounterTuesday 30 December 20250630Tuesday 30 December 20251500ISSBICTFull TurnaroundBook Parking\n\nShowing 1 to 19 of 19 entries (filtered from 927 total entries)Previous1Next\n\nHome\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\n\n\n\n\nContact Us – East Coast Parking Contact Us\n\nFirst name\n\nLast name\n\nEmail\n\nPhone Number\n\nMessage\n\nSubmit\n\nWe are here to help. We understand that planning parking for the Brisbane International Cruise Terminal can sometimes feel overwhelming.Our team is here to make the process simple, clear, and stress-free whether you have a question before booking or need assistance with an existing reservation.Our friendly customer support team is available to assist and ensure your experience with East Coast Parking is seamless from start to finish. We are here to help. We understand that planning parking for the Brisbane International Cruise Terminal can sometimes feel overwhelming.Our team is here to make the process simple, clear, and stress-free whether you have a question before booking or need assistance with an existing reservation.Our friendly customer support team is available to assist and ensure your experience with East Coast Parking is seamless from start to finish. See What Our Customers Have To Say.... Home\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\n\n\n\nOpen Air Parking – East Coast Parking SECURE OPEN AIR CRUISE\nTERMINAL PARKING\n\nLooking for secure open parking near the cruise terminal in Brisbane? You’ve come to the right place! East Coast Parking offers safe and reliable open-aircruise terminal parking solutions for travellers embarking on cruises or exploring the surrounding areas. Located just 1.5 km from the Brisbane International Cruise Terminal, our facility eliminates the inconvenience of long, time-consuming bus rides. Whether you need parking for a quick getaway or an extended cruise, we have options tailored to fit your trip duration. From $79\n\nMake A Reservation\n\nContact Us\n\nWhy Choose East Cost Parking? Affordable & Convenient\n\nEnjoy exceptional value without sacrificing quality, security,cor convenience. Located just minutes from Brisbane’s cruise terminal, our pricing is designed to remain competitive while delivering a seamless, stress-free parking experience from arrival through to your return. Short & Long Term Options\n\nWhether you’re heading away for a short getaway or an extended cruise, we offer flexible short and long-term parking options to suit your itinerary. Our straightforward booking process allows you to select the duration that fits your plans, with the confidence that your vehicle is well cared for while you’re away. Complimentary Shuttle Transfers\n\nOur complimentary shuttle service ensures a smooth, efficient transfer between our facility and the Brisbane International Cruise Terminal. Operating around cruise schedules, our shuttles minimise waiting times and provide a comfortable, reliable connection both before departure and upon your return. Fullly Secured Facility\n\nYour vehicle is housed within a fully fenced and professionally managed facility, designed with security as a priority. With 24-hour CCTV surveillance, on-site caretakers, and monitored on-site security after hours, you can embark on your cruise knowing your car is protected at all times.\nLarge Vehicles & Accessibilty Friendly\n\nWe cater to a wide range of vehicle types, including larger cars, motorhomes, caravans, and specialty vehicles. Generously sized bays and conveniently located accessibl parking near shuttle pick-up points ensure ease, comfort, and accessibility for all travellers. Hand Car Wash & Detailing Available\n\nEnhance your return experience with our professional hand wash and car detailing services. Arrive back from your cruiseto a freshly cleaned vehicle, cared for with attention to detail so you can continue your journey in comfort and style. Check Availability\n\nBook with East Coast\n\nOpen Air Parking Rates\n\nOpen Air\n\n$79.00\n\n2 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$92.00\n\n3 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$108.00\n\n4 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$119.00\n\n5 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$135.00\n\n6 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$145.00\n\n7 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$155.00\n\n8 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$165.00\n\n9 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$175.00\n\n10 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$185.00\n\n11 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$195.00\n\n12 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$205.00\n\n13 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nOpen Air\n\n$215.00\n\n14 Days\n\n* Prices are inclusive of GST\n\nIncluded:\n\nComplimentary Shuttle Service\n\nBook Now\n\nAdditional Days After 14 Days Will Incur A $11 Daily Rate\n\nBooking Guidelines\n\nPrices are inclusive of GST and include\nCOMPLIMENTARY shuttle service\n\nLast shuttle bus is 2 hours prior to cruise\ndeparture time unless prior arrangements\nare made\n\nPrices below are for standard passenger\nvehicles. Larger vehicles, trucks,\nture time unless prior arrangements\nare made\n\nPrices below are for standard passenger\nvehicles. Larger vehicles, trucks, motorhomes, caravans\nand trailer parking available. Contact us for a quote\n\n* Terms and Conditions apply\n\nMake A Reservation\n\nOur Easy Process\n\nGet In Touch\n\n1\n\nContact us or head over to our reservation page. Confirm Your Schedule\n\n2\n\nChoose your preferred booking timesand dates. Booking & Confirmation\n\n3\n\nOnce you’ve booked, your parking spot is guaranteed. Frequently Asked Questions\n\nIs there a maximum parking duration? No, there’s no maximum parking duration. Whether you’re parking for a few hours, a few days, or several weeks, we have options to accommodate your travel plans. Can I park multiple vehicles? Yes, we offer ample space to accommodate multiple vehicles. Whether you’re travelling with a group or need parking for several vehicles, we can assist you with securing the right spaces. Is the shuttle service available for all parking options? Yes, our free shuttle service is available for all customers parking in our secure open-air and undercover facilities. Is there a height or size limit for vehicles? Yes. The current height restriction for vehicles in our undercover parking area is 2.3 metres. Do you offer assistance with luggage? Our team can help you with your baggage on request if you’re having difficulty.\nSimply talk to a member of staff. If you have special requirements, let us know so we can continue to support you. What happens if my return date changes? Simply notify us of the change so we can amend your booking. Then, you can pay any additional fees over the phone. What happens if I lose my vehicle receipt or proof of booking? If you misplace your receipt or proof of booking, talk to our team. We will ask you for your ID to prove who you are before releasing the vehicle. This system keeps you and other customers safe and prevents fraud. Home\nReservations\nOur Services\n\nOpen Air Parking\nUnder-Cover Parking\n\nCruise Schedule\nContact Us\nContact Us\nLocation\n99 Main Beach Rd, Pinkenba QLD 4008\nPhone\n0404 094 064\nEmail\ninfo@eastcoastparking.com.au\n]\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -96
      ],
      "id": "25f61279-326d-4b0a-830a-8ae6a3c026c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        80
      ],
      "id": "6446aba7-bd1e-4cbd-9c7f-ed1e82c1f356",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8ZVcTVhxA5p7wXCn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        96
      ],
      "id": "f9984d32-386b-4614-966d-50cc990bb05a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13Eo3Lgl3z3CnW8EkEzj1Wou7sJq8H6tfbWvSbXAfYf0",
          "mode": "list",
          "cachedResultName": "Eastcoast parking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Eo3Lgl3z3CnW8EkEzj1Wou7sJq8H6tfbWvSbXAfYf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Eo3Lgl3z3CnW8EkEzj1Wou7sJq8H6tfbWvSbXAfYf0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Date created": "={{ $json.dateCreated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date created",
              "displayName": "Date created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        -240
      ],
      "id": "c5f96371-ea49-4117-b67b-9b1c04c0733a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s4SVGvmpTgayTBSU",
          "name": "AB last one"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      \"start_date\": \"2026-02-05\", // Year-Month-Day (Ye sahi tha)\n      \"pickup_time\": \"09:00\",\n      \"end_date\": \"2026-02-10\",\n      \"dropoff_time\": \"17:00\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -304
      ],
      "id": "cb43120c-9fd5-49e2-913c-219221047ab3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://bookings.eastcoastparking.com.au/feed.xml?id=1&hash=00af2325eef9dff5c331878faf89aef835cdbc1f",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -304
      ],
      "id": "6221935b-3fb5-404d-97e1-73f0ff76662c",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://eastcoastparking.com.au/cruise-schedule/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        48
      ],
      "id": "01e61e99-7234-443d-b464-443d3e530e79",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        64
      ],
      "id": "5aeac7ce-648e-4ff7-bb67-57bcb859c05e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Body",
              "cssSelector": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -528,
        48
      ],
      "id": "102bb117-2313-4f09-ac5d-5e4745ce01b8",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "// FAST CRUISE DATA EXTRACTOR FOR N8N\n// Execute time: < 1 second\n\nconst body = items[0]?.json?.Body || '';\n\n// Extract cruise entries using regex - Very Fast!\nconst cruisePattern = /([A-Za-z\\s]+?)(\\d{2}\\/\\d{2}\\/\\d{4})(\\d{2}\\/\\d{2}\\/\\d{4})Book Parking/g;\nconst matches = [...body.matchAll(cruisePattern)];\n\nconst cruises = matches.map(match => {\n  const shipName = match[1].trim().replace(/\\s+/g, ' ');\n  const departure = match[2];\n  const arrival = match[3];\n  \n  // Parse dates for filtering\n  const [d, m, y] = departure.split('/');\n  const dateObj = new Date(`${y}-${m}-${d}`);\n  \n  return {\n    ship_name: shipName,\n    departure_date: departure,\n    arrival_date: arrival,\n    duration_days: Math.ceil((new Date(arrival.split('/')[2], arrival.split('/')[1]-1, arrival.split('/')[0]) - dateObj) / (1000 * 60 * 60 * 24)),\n    month: dateObj.toLocaleString('en-US', { month: 'long' }),\n    year: y,\n    booking_available: true\n  };\n});\n\n// Optional: Filter by month if userQuery provided\nconst userQuery = items[0]?.json?.userQuery || '';\nlet filteredCruises = cruises;\n\nif (userQuery) {\n  const query = userQuery.toLowerCase();\n  filteredCruises = cruises.filter(c => \n    c.month.toLowerCase().includes(query) ||\n    c.ship_name.toLowerCase().includes(query) ||\n    c.year.includes(query)\n  );\n}\n\n// Return formatted data\nreturn [{\n  json: {\n    total_found: filteredCruises.length,\n    filter_applied: userQuery || 'none',\n    cruises: filteredCruises\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        48
      ],
      "id": "0f4ea0c9-e8b7-4356-a9a2-3b6f2941cd13",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74050f98-e4b2-458b-81f9-1606a5c269f0",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-30T15:49:18.816Z",
      "createdAt": "2025-12-30T15:49:18.816Z",
      "role": "workflow:owner",
      "workflowId": "PV2BdfM449KVzYeg",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}