Backup_2026-01-14/Post Generation flow - LinkedIn.json
{
  "updatedAt": "2026-01-13T19:00:36.645Z",
  "createdAt": "2026-01-12T15:15:36.145Z",
  "id": "LOALMo3B0JOZIefm",
  "name": "Post Generation flow - LinkedIn",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "78789731-21af-4e89-b12a-5b4f316cd5c1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2256,
        -512
      ],
      "webhookId": "sample-webhook-id"
    },
    {
      "parameters": {
        "tableId": "generated_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content",
              "fieldValue": "={{ $json['Post Content '] }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json['Platform '] }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.Hook }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.CTA }}"
            },
            {
              "fieldId": "image_prompt",
              "fieldValue": "={{ $json['image Prompt'] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json['Image Url'] }}"
            },
            {
              "fieldId": "full_post",
              "fieldValue": "={{ $json.Post }}"
            },
            {
              "fieldId": "post_type",
              "fieldValue": "={{ $json['Post Type'] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Created"
            }
          ]
        }
      },
      "id": "159064b8-e291-4e31-a118-a79e394b5878",
      "name": "Supabase - Update Final",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -512
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "800c4929-3a45-4d6d-8b8c-4d430692e2f1",
              "name": "post_content",
              "value": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
              "type": "string"
            },
            {
              "id": "fe1445e5-f9c6-4d27-9833-fcd53693dfd7",
              "name": "platform",
              "value": "linkedin",
              "type": "string"
            },
            {
              "id": "75b4a77c-0f84-4672-b59a-dd5f2711a801",
              "name": "post_type",
              "value": "normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        -512
      ],
      "id": "0004add2-d56b-45a0-9267-2d6a76ab9bea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"CTA\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -928,
        -288
      ],
      "id": "51511c45-da3e-49a8-af7b-58d5758d0289",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\n\nCTA Guidelines:\n\nPlatform behavior:\n- LinkedIn → discussion-driven, professional tone\n- X/Twitter → fast, reactive, action-oriented\n\nPost type behavior:\n- Lead magnet → ask for comment or DM with a keyword\n- Normal post → light engagement question\n\nGenerate the best possible CTA.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert conversion copywriter specialized in social media engagement and lead generation.\n\nYour job is to generate ONE high-impact Call-To-Action (CTA) that maximizes engagement and conversions.\n\nRules:\n- Match the platform’s native behavior.\n- Align with the post type intent.\n- Keep it natural, human, and non-salesy.\n- Max length: 1 sentence.\n- Encourage interaction (comment, reply, DM, or share).\n- Do NOT repeat the hook or content.\n- Do NOT add emojis, hashtags, quotes, or explanations.\n- Output ONLY the CTA text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -512
      ],
      "id": "955235bc-223f-4f83-9397-11c7533ecd21",
      "name": "CTA Generation"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"Hook\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1280,
        -288
      ],
      "id": "247198d7-2677-40de-ac49-6b61046ab1e0",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform:\n{{ $('Edit Fields').item.json.platform }}\n\nPost Type:\n{{ $('Edit Fields').item.json.post_type }}\n\nContent:\n{{ $('Edit Fields').item.json.post_content }}\n\nTask:\nGenerate the single strongest hook for this post.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an elite social media hook strategist.\n\nYour sole goal is to generate ONE highly compelling, scroll-stopping hook\nbased on the platform, post type, and content provided.\n\nYou think before writing:\n- Identify the platform\n- Identify the intent (lead magnet vs normal)\n- Optimize tone, length, and framing accordingly\n\nHOOK RULES (STRICT):\n\nIF platform = \"LinkedIn\":\n- Tone: Professional, insightful, thought-provoking\n- Length: 1–2 short sentences\n- Style: Authority, clarity, business relevance\n\nIF platform = \"X\" or \"Twitter\":\n- Tone: Bold, intriguing, or slightly controversial\n- Length: Under 100 characters\n- Style: Curiosity-driven, direct, punchy\n\nIF post_type = \"leadmagnet\":\n- Emphasize value, outcome, or transformation\n- Hint at what the user will gain\n\nIF post_type = \"normal\":\n- Focus on engagement, relatability, or opinion\n- Encourage curiosity or reflection\n\nOUTPUT RULES:\n- Output ONLY the hook text\n- No emojis\n- No hashtags\n- No explanations\n- No quotes\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1408,
        -512
      ],
      "id": "b252494e-ec68-4ccd-8e0c-5a3b2172b20b",
      "name": "Hook Generator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $json.output.CTA }}\n\nCreate the final structured post.\n",
        "options": {
          "systemMessage": "=You are a social media content strategist.\n\nYour task is to combine a hook, main content, and CTA into a clear, engaging, and well-structured final post.\n\nStructure rules by platform:\n- LinkedIn: Hook → Content (2–3 short paragraphs) → CTA\n- X / Twitter: Hook → Content (thread-style if needed) → CTA\n\nWriting guidelines:\n- Use line breaks for readability\n- Add relevant emojis sparingly (1–2 max if appropriate)\n- Keep a professional tone for LinkedIn\n- Keep a casual, concise tone for X/Twitter\n\nOutput rules:\n- Return ONLY the final post text\n- Do NOT add explanations, labels, or markdown\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -704,
        -512
      ],
      "id": "762df150-be7a-49db-ab21-f422a751d52e",
      "name": "Post Generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -512
      ],
      "id": "f572c338-87c9-49d7-b414-e3c6c919466d",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "3206b190-91f6-40e9-ad6c-1a75d04b120c",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        224,
        -512
      ],
      "webhookId": "18002bae-7f59-43f6-a48f-96e58d0176d3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -512
      ],
      "id": "84a74012-6980-4ed6-ac8e-c0a3e0b59484",
      "name": "Fetch Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $('CTA Generation').item.json.output.CTA }}\nFull Post:{{ $json.output }}\n\nGenerate a detailed image prompt that visually represents this content. and give output in structured output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an elite visual content strategist and AI image generation expert specializing in creating compelling visuals for social media content.\n\nYour mission: Transform social media posts into detailed, photorealistic image prompts that generate stunning visuals using nano-banana AI.\n\nANALYSIS FRAMEWORK:\n1. Identify the core message/theme of the post\n2. Determine the best visual metaphor or literal representation\n3. Choose appropriate professional setting or symbolic imagery\n4. Define mood, lighting, and composition for maximum impact\n\nPROMPT CONSTRUCTION RULES:\n\nSTRUCTURE TEMPLATE:\n\"Photorealistic [main subject/scene], [professional photography style], [specific lighting], [composition details], [color palette], [mood/atmosphere], [technical quality specs]\"\n\nMAIN SUBJECT OPTIONS:\n- Business/Career: Office meetings, handshakes, mentoring sessions, professional conversations, workplace scenes\n- Growth/Success: Ascending stairs, mountain peaks, bridges, pathways, sunrise/sunset scenes\n- Leadership: Team meetings, presentation scenes, confident professionals, guiding gestures\n- Abstract Concepts: Use symbolic imagery (keys for opportunities, bridges for connections, etc.)\n\nPHOTOGRAPHY SPECIFICATIONS:\n- Style: \"professional photography\", \"corporate headshot style\", \"business magazine quality\"\n- Lighting: \"soft natural lighting\", \"golden hour lighting\", \"professional studio lighting\", \"warm ambient lighting\"\n- Composition: \"rule of thirds\", \"centered composition\", \"shallow depth of field\", \"medium shot\", \"close-up portrait\"\n- Quality: \"high resolution\", \"8K quality\", \"sharp focus\", \"professional grade\"\n\nCOLOR PALETTES:\n- Professional: \"neutral tones\", \"warm earth tones\", \"corporate blue and white\"\n- Inspiring: \"warm golden tones\", \"soft pastels\", \"vibrant but professional colors\"\n- Modern: \"clean minimalist colors\", \"monochromatic scheme\", \"contemporary palette\"\n\nMOOD DESCRIPTORS:\n- Professional: \"confident\", \"authoritative\", \"trustworthy\", \"polished\"\n- Inspiring: \"uplifting\", \"motivational\", \"aspirational\", \"empowering\"\n- Modern: \"clean\", \"contemporary\", \"sophisticated\", \"sleek\"\n\nTECHNICAL REQUIREMENTS:\n- Always include: \"photorealistic\", \"high resolution\", \"professional quality\"\n- Avoid: text, logos, readable words, cartoon style, abstract art\n- Focus on: human subjects, real environments, tangible objects\n\nCONTENT-SPECIFIC GUIDELINES:\n\nFOR CAREER/BUSINESS POSTS:\n- Use office environments, meeting rooms, professional settings\n- Include diverse professionals in business attire\n- Show interactions: mentoring, discussions, presentations\n\nFOR MOTIVATIONAL/GROWTH POSTS:\n- Use metaphorical imagery: stairs, mountains, bridges, pathways\n- Include sunrise/sunset for transformation themes\n- Show progression or upward movement\n\nFOR LEADERSHIP POSTS:\n- Focus on confident professionals\n- Use meeting scenarios or presentation settings\n- Show guidance, direction, or team dynamics\n\nEXAMPLE OUTPUTS:\n\nFor career advice: \"Photorealistic image of a professional mentoring scene in modern office, experienced business mentor gesturing while speaking to younger professional, soft natural lighting from floor-to-ceiling windows, rule of thirds composition, warm earth tones, confident and inspiring atmosphere, shallow depth of field, professional photography style, high resolution\"\n\nFor growth content: \"Photorealistic image of ascending wooden stairs leading upward, professional business person climbing confidently, golden hour lighting creating warm shadows, centered composition with upward perspective, warm golden and brown tones, aspirational and empowering mood, sharp focus, 8K quality\"\n\nOUTPUT REQUIREMENTS:\n- Return ONLY valid JSON format\n- Use exactly this structure: {\"prompt\": \"detailed prompt here\"}\n- No explanations, markdown, or additional fields\n- Prompt should be 150-250 characters for optimal results\n- Focus on one clear, powerful visual concept per prompt\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -352,
        -512
      ],
      "id": "46063f2f-f7cb-41fd-8f8f-1241514af575",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"prompt\":\"This is prompt\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        -288
      ],
      "id": "35c07df5-f20b-4f2a-9306-68cbf185ad73",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a64cfe4-4eb2-4f94-bfb5-fc82772c4d12",
              "name": "Link",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -512
      ],
      "id": "84e1503c-bea9-4bb4-a02b-2ff145b1c1ef",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1056,
        -288
      ],
      "id": "1596c79b-eb3c-4346-b594-e118c7331825",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -640,
        -288
      ],
      "id": "3379d94a-b9d6-46cb-9880-e59e1b2aba3e",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -352,
        -288
      ],
      "id": "661e2342-0d4b-4414-a506-20a6854d0b40",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -512
      ],
      "id": "2f2de7ec-3639-4261-b8e7-b0d2364c84ee",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d404f6bf-0ace-4b4c-a068-3bcfe4561e60",
              "name": "Post Content ",
              "value": "={{ $('Edit Fields').item.json.post_content }}",
              "type": "string"
            },
            {
              "id": "6d7d0264-253d-4f15-b0f1-13dd881321de",
              "name": "Platform ",
              "value": "={{ $('Edit Fields').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "5e9270d5-ab8b-4ea3-80f2-4cd8edeb9dcc",
              "name": "Post Type",
              "value": "={{ $('Edit Fields').item.json.post_type }}",
              "type": "string"
            },
            {
              "id": "82dc4769-d41e-4699-92c2-7869dedc45ee",
              "name": "Hook",
              "value": "={{ $('Hook Generator1').item.json.output.Hook }}",
              "type": "string"
            },
            {
              "id": "ccce207b-620f-4ce5-8d76-12b524e058a9",
              "name": "CTA",
              "value": "={{ $('CTA Generation').item.json.output.CTA }}",
              "type": "string"
            },
            {
              "id": "46b582f7-86a9-40f8-ad05-0623d9fb8157",
              "name": "Post",
              "value": "={{ $('Post Generation').item.json.output }}",
              "type": "string"
            },
            {
              "id": "3365f865-f892-4d81-9ded-92fe30f6443b",
              "name": "image Prompt",
              "value": "={{ $('AI Agent').item.json.output.prompt }}",
              "type": "string"
            },
            {
              "id": "ea0182c8-89e5-4b79-b803-caa94f9cf3f8",
              "name": "Image Url",
              "value": "={{ $('Edit Fields2').item.json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -512
      ],
      "id": "252b259f-10ef-4f17-82ae-e9a92633f384",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1424,
        -288
      ],
      "id": "40e3506f-1048-40a7-af53-f0b1d1a85333",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        []
      ]
    },
    "Supabase - Update Final": {
      "main": [
        []
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Hook Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CTA Generation": {
      "main": [
        [
          {
            "node": "Post Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hook Generator1": {
      "main": [
        [
          {
            "node": "CTA Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Generation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase - Update Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "post_content": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
          "platform": "linkedin",
          "post_type": "normal"
        }
      }
    ],
    "Hook Generator1": [
      {
        "json": {
          "output": {
            "Hook": "Your first job doesn’t define your career — your first boss does. Six managers later, I know what to emulate, what to avoid, and how that shapes my leadership."
          }
        }
      }
    ]
  },
  "versionId": "93ba43da-7fc6-42b1-9418-b2b4ed8379ee",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-12T15:15:36.151Z",
      "createdAt": "2026-01-12T15:15:36.151Z",
      "role": "workflow:owner",
      "workflowId": "LOALMo3B0JOZIefm",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}