Backup_2026-01-14/Revise Version.json
{
  "updatedAt": "2026-01-13T19:08:54.163Z",
  "createdAt": "2026-01-13T19:02:04.548Z",
  "id": "LA8Y25uZquh1qTcagB3c8",
  "name": "Revise Version",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "tableId": "generated_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_content",
              "fieldValue": "={{ $json['Post Content '] }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json['Platform '] }}"
            },
            {
              "fieldId": "hook",
              "fieldValue": "={{ $json.Hook }}"
            },
            {
              "fieldId": "cta",
              "fieldValue": "={{ $json.CTA }}"
            },
            {
              "fieldId": "image_prompt",
              "fieldValue": "={{ $json['image Prompt'] }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json['Image Url'] }}"
            },
            {
              "fieldId": "full_post",
              "fieldValue": "={{ $json.Post }}"
            },
            {
              "fieldId": "post_type",
              "fieldValue": "={{ $json['Post Type'] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Created"
            }
          ]
        }
      },
      "id": "1ebf4d60-cf71-4299-8ddc-7c867e1039de",
      "name": "Supabase - Update Final",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        -16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mLH9b9DGyrTELyZK",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "800c4929-3a45-4d6d-8b8c-4d430692e2f1",
              "name": "post_content",
              "value": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
              "type": "string"
            },
            {
              "id": "fe1445e5-f9c6-4d27-9833-fcd53693dfd7",
              "name": "platform",
              "value": "linkedin",
              "type": "string"
            },
            {
              "id": "75b4a77c-0f84-4672-b59a-dd5f2711a801",
              "name": "post_type",
              "value": "normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -16
      ],
      "id": "a9d3efdf-5cbe-4eea-8043-3dddde48eec4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"CTA\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        208
      ],
      "id": "623d3f6b-9479-4c91-a5d5-c8f6c402fa6b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\n\nCTA Guidelines:\n\nPlatform behavior:\n- LinkedIn → discussion-driven, professional tone\n- X/Twitter → fast, reactive, action-oriented\n\nPost type behavior:\n- Lead magnet → ask for comment or DM with a keyword\n- Normal post → light engagement question\n\nGenerate the best possible CTA.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert conversion copywriter specialized in social media engagement and lead generation.\n\nYour job is to generate ONE high-impact Call-To-Action (CTA) that maximizes engagement and conversions.\n\nRules:\n- Match the platform's native behavior.\n- Align with the post type intent.\n- Keep it natural, human, and non-salesy.\n- Max length: 1 sentence.\n- Encourage interaction (comment, reply, DM, or share).\n- Do NOT repeat the hook or content.\n- Do NOT add emojis, hashtags, quotes, or explanations.\n- Output ONLY the CTA text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        -16
      ],
      "id": "4888ef66-99ff-419d-99d5-ff8d01c54e45",
      "name": "CTA Generation"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"Hook\":\"\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "df22e100-34f4-477c-8576-f3fb2bd67c53",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform:\n{{ $('Edit Fields').item.json.platform }}\n\nPost Type:\n{{ $('Edit Fields').item.json.post_type }}\n\nContent:\n{{ $('Edit Fields').item.json.post_content }}\n\nTask:\nGenerate the single strongest hook for this post.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an elite social media hook strategist.\n\nYour sole goal is to generate ONE highly compelling, scroll-stopping hook\nbased on the platform, post type, and content provided.\n\nYou think before writing:\n- Identify the platform\n- Identify the intent (lead magnet vs normal)\n- Optimize tone, length, and framing accordingly\n\nHOOK RULES (STRICT):\n\nIF platform = \"LinkedIn\":\n- Tone: Professional, insightful, thought-provoking\n- Length: 1–2 short sentences\n- Style: Authority, clarity, business relevance\n\nIF platform = \"X\" or \"Twitter\":\n- Tone: Bold, intriguing, or slightly controversial\n- Length: Under 100 characters\n- Style: Curiosity-driven, direct, punchy\n\nIF post_type = \"leadmagnet\":\n- Emphasize value, outcome, or transformation\n- Hint at what the user will gain\n\nIF post_type = \"normal\":\n- Focus on engagement, relatability, or opinion\n- Encourage curiosity or reflection\n\nOUTPUT RULES:\n- Output ONLY the hook text\n- No emojis\n- No hashtags\n- No explanations\n- No quotes\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        -16
      ],
      "id": "81fefc1f-8b87-4d57-801d-b4df32745fa7",
      "name": "Hook Generator1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $json.output.CTA }}\n\nCreate the final structured post.\n",
        "options": {
          "systemMessage": "=You are a social media content strategist.\n\nYour task is to combine a hook, main content, and CTA into a clear, engaging, and well-structured final post.\n\nStructure rules by platform:\n- LinkedIn: Hook → Content (2–3 short paragraphs) → CTA\n- X / Twitter: Hook → Content (thread-style if needed) → CTA\n\nWriting guidelines:\n- Use line breaks for readability\n- Add relevant emojis sparingly (1–2 max if appropriate)\n- Keep a professional tone for LinkedIn\n- Keep a casual, concise tone for X/Twitter\n\nOutput rules:\n- Return ONLY the final post text\n- Do NOT add explanations, labels, or markdown\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        -16
      ],
      "id": "01d1d47d-45c5-4fad-bfad-ca19948bb760",
      "name": "Post Generation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        -16
      ],
      "id": "511adba7-0f99-4e70-bbda-dfaf4cf0c37d",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "bedecd22-c2f9-49c8-af0e-f722bfc6e94e",
      "name": "Wait 20 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1936,
        -16
      ],
      "webhookId": "18002bae-7f59-43f6-a48f-96e58d0176d3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -16
      ],
      "id": "d074e837-0aa6-40ff-b315-a7ab7b6b4b28",
      "name": "Fetch Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PxYBErJBGaTdwww1",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Platform: {{ $('Edit Fields').item.json.platform }}\nPost Type: {{ $('Edit Fields').item.json.post_type }}\nHook: {{ $('Hook Generator1').item.json.output.Hook }}\nContent: {{ $('Edit Fields').item.json.post_content }}\nCTA: {{ $('CTA Generation').item.json.output.CTA }}\nFull Post: {{ $('Post Generation').item.json.output }}\n\nGenerate a detailed, professional image prompt that visually represents this content.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert AI image prompt engineer specializing in creating professional, high-quality prompts for social media content generation.\n\nYour task is to generate a detailed, production-ready image prompt that visually represents the given social media post with maximum professionalism and visual appeal.\n\nPROFESSIONAL IMAGE PROMPT GUIDELINES:\n\n1. COMPOSITION & STYLE:\n   - Use professional photography and design terminology\n   - Specify: rule of thirds, leading lines, depth of field, focal point\n   - Choose appropriate aspect ratio context (9:16 for vertical, 1:1 for square)\n   - Professional color grading: muted tones, high contrast, or soft pastels\n   - Modern minimalist aesthetic with clean backgrounds\n\n2. VISUAL QUALITY STANDARDS:\n   - Resolution: 4K quality, sharp focus, professional lighting\n   - Lighting: soft natural light, studio lighting, or dramatic shadows\n   - Style: contemporary, clean, editorial, or corporate professional\n   - Mood: confident, inspiring, professional, or sophisticated\n   - Avoid: amateur, low-quality, blurry, or unprofessional elements\n\n3. CONTENT REPRESENTATION:\n   - Abstract or conceptual representation of the post's core message\n   - Metaphorical visuals that connect to the content theme\n   - Professional iconography or symbolic elements\n   - Avoid literal text, words, or readable content in the image\n   - Focus on emotions, concepts, or professional themes\n\n4. TECHNICAL SPECIFICATIONS:\n   - Camera settings: professional DSLR, shallow depth of field\n   - Post-processing: color graded, professionally edited\n   - Composition: balanced, visually appealing, Instagram-worthy\n   - Background: clean, uncluttered, or subtle gradient\n   - Foreground: clear subject or focal element\n\n5. PLATFORM-SPECIFIC OPTIMIZATION:\n   - LinkedIn: Corporate, professional, business-oriented visuals\n   - X/Twitter: Bold, attention-grabbing, modern aesthetic\n   - Maintain brand consistency and professional standards\n\n6. OUTPUT FORMAT:\n   - Use professional photography and design terminology\n   - Include specific technical details (lighting, composition, style)\n   - 50-100 words for comprehensive description\n   - Structure: [Style] + [Subject/Concept] + [Composition] + [Lighting] + [Mood] + [Quality]\n   - Example format: \"Professional minimalist composition featuring [concept], shot with soft natural lighting, shallow depth of field, contemporary color palette with muted tones, clean background, 4K quality, editorial style, inspiring mood\"\n\nOUTPUT RULES:\n- Return ONLY valid JSON\n- Use exactly this structure: {\"prompt\":\"<detailed professional image prompt>\"}\n- Do not add explanations, markdown, or extra fields\n- The prompt should be ready for direct use in image generation APIs\n- Ensure the prompt sounds professional and production-ready"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1360,
        -16
      ],
      "id": "9ac52846-d3f5-4ac7-94ce-96eaf9bf3cf7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"prompt\":\"This is prompt\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        208
      ],
      "id": "5ca5e2ae-ad44-414a-9fe8-64459beee37d",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a64cfe4-4eb2-4f94-bfb5-fc82772c4d12",
              "name": "Link",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            },
            {
              "id": "99560aa0-0e10-483d-9a4a-7700e288f253",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        -16
      ],
      "id": "dcf65742-e20a-468c-9e90-2f2f0454ca82",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        656,
        208
      ],
      "id": "93755b6b-565f-4457-9834-c085b9349dc4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1072,
        208
      ],
      "id": "96028f32-f937-42b5-91e1-addbecbd429a",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1360,
        208
      ],
      "id": "11a95669-54be-4abb-9913-480005510edc",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2608,
        -16
      ],
      "id": "5fed1c40-c85f-4111-a074-fefc5c266035",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d404f6bf-0ace-4b4c-a068-3bcfe4561e60",
              "name": "Post Content ",
              "value": "={{ $('Edit Fields').item.json.post_content }}",
              "type": "string"
            },
            {
              "id": "6d7d0264-253d-4f15-b0f1-13dd881321de",
              "name": "Platform ",
              "value": "={{ $('Edit Fields').item.json.platform }}",
              "type": "string"
            },
            {
              "id": "5e9270d5-ab8b-4ea3-80f2-4cd8edeb9dcc",
              "name": "Post Type",
              "value": "={{ $('Edit Fields').item.json.post_type }}",
              "type": "string"
            },
            {
              "id": "82dc4769-d41e-4699-92c2-7869dedc45ee",
              "name": "Hook",
              "value": "={{ $('Hook Generator1').item.json.output.Hook }}",
              "type": "string"
            },
            {
              "id": "ccce207b-620f-4ce5-8d76-12b524e058a9",
              "name": "CTA",
              "value": "={{ $('CTA Generation').item.json.output.CTA }}",
              "type": "string"
            },
            {
              "id": "46b582f7-86a9-40f8-ad05-0623d9fb8157",
              "name": "Post",
              "value": "={{ $('Post Generation').item.json.output }}",
              "type": "string"
            },
            {
              "id": "3365f865-f892-4d81-9ded-92fe30f6443b",
              "name": "image Prompt",
              "value": "={{ $('AI Agent').item.json.output.prompt }}",
              "type": "string"
            },
            {
              "id": "ea0182c8-89e5-4b79-b803-caa94f9cf3f8",
              "name": "Image Url",
              "value": "={{ $('Edit Fields2').item.json.Link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        -16
      ],
      "id": "643e50d9-f87e-4baa-940d-e90094de5622",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "607e917e-4890-415d-9239-cd108a566d1f",
      "name": "Anthropic Chat Model3",
      "credentials": {
        "anthropicApi": {
          "id": "2zkeXBcMqatxP25h",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Hook Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CTA Generation": {
      "main": [
        [
          {
            "node": "Post Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Hook Generator1": {
      "main": [
        [
          {
            "node": "CTA Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Generation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 20 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CTA Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase - Update Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Hook Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "post_content": "Your first job won't define your career, but your first boss will. I've had 6 managers in my career. 3 were mentors who pushed me to grow. 2 were micromanagers who taught me what not to do. 1 was completely absent and taught me self-reliance. Each shaped how I lead today.",
          "platform": "linkedin",
          "post_type": "normal"
        }
      }
    ],
    "Hook Generator1": [
      {
        "json": {
          "output": {
            "Hook": "Your first job doesn't define your career — your first boss does. Six managers later, I know what to emulate, what to avoid, and how that shapes my leadership."
          }
        }
      }
    ]
  },
  "versionId": "9ed05518-0a00-4584-9903-f319ff402319",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-13T19:02:04.554Z",
      "createdAt": "2026-01-13T19:02:04.554Z",
      "role": "workflow:owner",
      "workflowId": "LA8Y25uZquh1qTcagB3c8",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "activeVersion": null,
  "tags": []
}