Backup_2025-12-27/Ab Telegram Image Generation Bot.json
{
  "createdAt": "2025-11-04T11:16:20.375Z",
  "updatedAt": "2025-11-04T11:17:30.000Z",
  "id": "OYq5vmUvOEyLb1gn",
  "name": "Ab Telegram Image Generation Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "a79983c9-0d41-40ac-a6dc-7a858c14645e",
      "name": "Telegram Trigger",
      "webhookId": "31011262-297e-4c02-ad8c-3c1a09948916",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').first().json.message\n\nif (msg.photo) {\n  // Image exists → use kontext model\n  return [\n    {\n      json: {\n        type: \"image\",\n        caption: msg.caption || \"\",\n        file_id: msg.photo[msg.photo.length - 1].file_id // get highest resolution\n      }\n    }\n  ];\n} else {\n  // Text only → use nanobanana model\n  return [\n    {\n      json: {\n        type: \"text\",\n        text: msg.text\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "592af3b8-3579-44ae-baf8-63465ba4c349",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d018917e-8b14-4466-94ee-37bb1e2c9f5b",
              "name": "prompt",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -128
      ],
      "id": "af540a82-4b33-4fbc-b129-90b1aa9795c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://text.pollinations.ai/openai",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI prompt engineer specialized in generating ultra-realistic, visually stunning image prompts. Your job is to take the user's input and rewrite it into a detailed, vivid, cinematic prompt optimized for photorealistic AI image generation. \\n\\nRules:\\n- Expand vague ideas into rich visual descriptions with realistic detail.\\n- Emphasize lighting, environment, mood, perspective, and camera details.\\n- Prioritize realism and accuracy, making the result look as close to reality as possible.\\n- Remove unnecessary words, symbols, or formatting.\\n- Return ONLY the polished prompt text, no explanations, no extra output.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -128
      ],
      "id": "60b59cf0-2a2c-4e63-a32f-47aa2f4f3289",
      "name": "writing with ai"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.encodedPrompt }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "seedream"
            },
            {
              "name": "width",
              "value": "1024"
            },
            {
              "name": "height",
              "value": "1024"
            },
            {
              "name": "nologo",
              "value": "true"
            },
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -128
      ],
      "id": "94bc7daa-c211-47c3-85d2-68cb2bf1bb3d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    encodedPrompt: encodeURIComponent($input.first().json.choices[0].message.content)\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -128
      ],
      "id": "bd891912-0d1b-4a33-9415-3bfeb585cac4",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        -128
      ],
      "id": "afb078cb-32bb-4574-8e3f-0fe3863f9067",
      "name": "Send a photo message",
      "webhookId": "cade9d2e-aab8-4d42-97d4-a089227d5802",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d018917e-8b14-4466-94ee-37bb1e2c9f5b",
              "name": "prompt",
              "value": "={{ $json.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        64
      ],
      "id": "b81f33d3-fd0a-4ccc-bb8d-1185cae49e81",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://text.pollinations.ai/openai",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI prompt engineer. The user will provide an instruction that should be applied to a reference image. Your job is to rewrite their instruction into a clear, powerful, image-to-image prompt.\\n\\nRules:\\n- Always make the prompt point to the fact that it should be applied to the reference image.\\n- Expand vague instructions into detailed descriptions, but keep them relevant to the image editing context.\\n- Do not invent unrelated elements; stay aligned with the user’s intent.\\n- Keep the output natural and descriptive — no extra explanations, no meta text.\\n- Return ONLY the polished prompt text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        64
      ],
      "id": "c52021f4-c3de-431b-a6df-3891696f0b23",
      "name": "writing with ai1"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $('Code2').item.json.encodedPrompt }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('Code2').item.json.model }}"
            },
            {
              "name": "width",
              "value": "={{ $('Code2').item.json.width }}"
            },
            {
              "name": "height",
              "value": "={{ $('Code2').item.json.height }}"
            },
            {
              "name": "nologo",
              "value": "={{ $('Code2').item.json.nologo }}"
            },
            {
              "name": "image",
              "value": "={{ $json.file_url }}"
            },
            {
              "name": "token",
              "value": "1ChxGn0NJU8GoeY4"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        64
      ],
      "id": "828f878a-ee07-46dd-bb32-12ccd1399257",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Get input\nconst input = $input.first().json;\n\n// Build values\nconst prompt = input.choices?.[0]?.message?.content || \"default prompt\";\nconst imageUrl = input.file_url || null; // if you're adding Telegram file_url before\nconst model = \"kontext\";\nconst width = 1024;\nconst height = 1024;\nconst nologo = true;\n\n// Return everything you’ll need\nreturn {\n  json: {\n    encodedPrompt: encodeURIComponent(prompt),\n    rawPrompt: prompt,\n    model,\n    width,\n    height,\n    nologo,\n    image: imageUrl ? encodeURIComponent(imageUrl) : null\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        64
      ],
      "id": "84454d9b-7ef0-4375-88c5-7ae55f04f46e",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        64
      ],
      "id": "da9b381c-2c63-4b53-b520-146aef9dac91",
      "name": "Send a photo message1",
      "webhookId": "92772763-c6f8-4ced-93be-eb7d1e308f91",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
        "download": false
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        64
      ],
      "id": "faeb3311-a25d-4896-9d25-0f3488190e0e",
      "name": "Get a file",
      "webhookId": "82370c75-5aef-4e16-9de9-4dad82c806ea",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Replace with your bot token\nconst token = \"8375753655:AAFS8W07O-dfWMntLBXjZZsSxmi03p01uNg\";\n\n// Input: Telegram getFile response JSON\n// Example: { ok: true, result: { file_path: \"photos/file_0.jpg\" } }\nconst filePath = $input.first().json.result.file_path;\n\nreturn {\n  json: {\n    file_url: `https://api.telegram.org/file/bot${token}/${filePath}`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        64
      ],
      "id": "0a2aa9ee-3750-476b-afdc-9c8de2418385",
      "name": "Code3"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🔄 Processing your request, you’ll get your image soon.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -32
      ],
      "id": "89389c54-1bb1-42a0-8ba5-c742774eadbb",
      "name": "Send a text message",
      "webhookId": "7c3bc29f-2a2e-4e23-916f-af6d8647ee17",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24d62be3-c213-4a4b-a6fe-a6ef5ce9ec60",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -128
      ],
      "id": "e06ac596-8482-4db7-a9df-f600ac56c2e1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Welcome to my Image Generation Bot",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        -224
      ],
      "id": "8a6ee79d-f20a-4221-ac05-f35e223c619e",
      "name": "Send a text message1",
      "webhookId": "5ca71fbe-7184-41d3-8865-421a45e68d73",
      "credentials": {
        "telegramApi": {
          "id": "8qAvoG3hdoSEs87q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5194f540-0f0e-485a-ac91-ebafcd185bcf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -32
      ],
      "id": "42d36f6d-7424-4c90-ac64-4bad4c7c046f",
      "name": "If1"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "writing with ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing with ai": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "writing with ai1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing with ai1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cbc8afc2-7589-42e0-baf7-f22bbefa835e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-11-04T11:16:20.378Z",
      "updatedAt": "2025-11-04T11:16:20.378Z",
      "role": "workflow:owner",
      "workflowId": "OYq5vmUvOEyLb1gn",
      "projectId": "DUObCiOoOXJuG68P"
    }
  ],
  "tags": []
}